body {
    font-family: $font-face;
    background-color: $color-bg;
    color: $color-black;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 300;

    @include min_width(768) {
        font-size: 14px;
    }

    @include min_width(992) {
        font-size: 16px;
    }
}
