footer {
    background-color: $color-black;
    color: $color-white;
    padding: 30px 0;
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    font-family: "azoft";
    margin-top: 30px;

    a {
        color: inherit;
        margin-bottom: 14px;
        border-bottom: 1px solid transparent;

        &:hover {
            border-color: rgba($color-white, .5);
        }
    }

    .links {
        a {
            display: block;

            @include min_width (768) {
                display: inline-block;
                float: left;
                clear: both;
            }
        }
    }

    .footer-title {
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.29;
        letter-spacing: -0.5px;
        margin-bottom: 30px;
    }

    .policy {
        font-family: 'Montserrat';

    }

    .footer-orphus {
        height: 0;
        font-size: 0;

        a {
            border: none;

        }

        img {
            font-size: 0;
            height: 0;
        }
    }


    p {
        margin-bottom: 1em;

        &:last-child {
            margin-bottom: 0;
        }

        a {
            border-color: rgba(white, .3);

            &:hover {
                border-color: rgba(white, .6);
            }
        }
    }

    &--bottom {
        font-size: .8em;
        margin-top: 1em;
    }

    .row {
        [class*=col-] {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }

            @include min_width(768) {
                margin-bottom: 0;
            }
        }
    }

    form {
        margin-top: -15px;

        input,
        button {
            color: $color-white;
        }

        .field {

            display: block;

            &>* {
                width: 100%;
                margin-bottom: 15px;
                margin-left: 0;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            input,
            .btn_link {
                background-color: rgba(255, 255, 255, 0.14);
                padding: 10px;
                border: none;

            }

            label {
                font-size: 12px;
                text-align: left;
            }
        }
    }

    @include min_width(768) {
        text-align: left;
        margin-top: 60px;
        padding: 60px 0;

        form {
            .field {
                display: flex;

                >* {
                    margin-right: 15px;
                    flex: 3;
                    margin-bottom: 0;

                    &:last-child {
                        margin-right: 0;
                    }
                }

                [type='submit'] {
                    flex: 1;
                }
            }
        }
    }
}