header {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: transparent;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
    color: $color-white;
    z-index: 10000;

    nav {}

    .hamburger {
        padding: 0;
        margin-left: 6px;

        &:focus,
        &:hover {
            background: none;
            box-shadow: none;
        }

        .hamburger-box {
            top: 2px;
        }

        .hamburger-inner,
        .hamburger-inner:after,
        .hamburger-inner:before {
            background-color: black;
        }

        &.is-active:hover {

            .hamburger-inner,
            .hamburger-inner:after,
            .hamburger-inner:before {
                background-color: black;
            }
        }

        @include min_width(768) {
            display: none;
        }
    }

    .nav__links {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-left: auto;
    }

    .nav__links-item {
        color: inherit;
        text-transform: uppercase;
        border-radius: 4px;
        text-align: center;
        width: 100%;
        font-weight: bold;
        position: relative;
        display: none;

        &:not(.links) {
            flex: .5;
            display: inline-block;
        }

        &.links {
            order: 3;
            margin-top: 3em;
            font-size: 14px;
            display: none;

            &.show {
                display: block;
            }

            .btnlink {
                margin-bottom: 1.5em;
                position: relative;

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    color: white;
                    display: inline-block;
                    padding: 12px 0;
                    line-height: 12px;
                    width: calc(100% - 80px);

                    @include min_width(768) {
                        width: auto;
                    }

                    @include min_width(1200) {
                        width: calc(100%);
                    }
                }

                i {
                    position: absolute;
                    right: 0;
                    width: 50px;
                    top: 7px;
                    font-size: 2em;
                    cursor: pointer;
                    text-align: center;

                    &:before {
                        position: relative;
                    }

                    @include min_width(768) {
                        width: 20px;
                        font-size: 1em;
                        top: 12px;
                    }

                    @include min_width(1200) {
                        top: 10px;
                    }
                }

                ul {
                    box-shadow: 0 3px 3px 0 rgba(30, 30, 30, 0.3);
                    padding: 0;
                    list-style-type: none;
                    font-weight: 400;
                    text-transform: none;
                    display: none;
                    z-index: 10;
                    border-radius: 0 4px 4px 4px;
                    padding: 6px 16px 16px;
                    width: auto;
                    min-width: 100%;

                    &.show {
                        display: block;
                    }

                    li {
                        margin-bottom: 16px;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        a {
                            padding: 0;
                            display: inline;
                            border-bottom: 1px solid rgba($color-white, 0);

                            &:hover {
                                border-color: rgba($color-white, .6);
                            }
                        }
                    }

                    @include min_width(768) {
                        margin-top: 0;
                        position: absolute;
                        left: 0;
                        top: 90%;
                        font-size: 14px;
                        text-align: left;
                    }
                }

                &.is_submenu {
                    i {
                        &:before {
                            content: '\f106';
                        }
                    }
                }

                @include min_width(768) {
                    &.is_submenu {
                        border-radius: 4px 4px 0 0;
                    }
                }
            }

            @include min_width(768) {
                display: flex;
                flex: 3.5;
                margin-top: 0;
                order: 2;
                font-size: .8em;

                .links-wrapper {
                    display: flex;
                }

                .btnlink {
                    margin-bottom: 0;
                    margin-right: 1em;

                    &:last-child {
                        margin-right: 0;
                    }
                }

                &.show {
                    display: flex;
                }
            }

            @include min_width(1200) {
                font-size: .9em;
            }
        }

        &.buttons {
            font-size: 1.5em;
            padding: 0;
            order: 2;
            flex: 1;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-end;

            &:hover {
                background: none;
            }

            .btn_link {
                border: none;
                background: none;
                color: inherit;
                cursor: pointer;
                font-size: 0;
                height: 26px;
                padding: 0;
                line-height: 1;
                margin-left: 6px;

                &:hover {
                    background: none;
                    box-shadow: none;
                }
            }

            .btn_social {
                display: inline-block;
                position: relative;
                text-align: center;
                margin-left: 6px;
                height: 26px;
                font-size: 0;

                .btn_link {
                    width: 26px;
                    height: 26px;
                    line-height: 28px;
                    border-radius: 100%;
                    font-size: 10px;
                    display: inline-block;
                    margin-left: 10px;
                }

                @include min_width(992) {}
            }

            @include min_width(992) {
                flex: 1.5;
                display: flex;
                justify-content: space-around;
            }
        }

        @include min_width(768) {
            flex: 1;
            display: inline-block;

            &.links {
                order: 2;
            }

            &.buttons {
                order: 3;
            }
        }
    }

    .nav__links-item.logo {
        margin: -1em 0;
        max-height: 42px;
        text-align: left;
        padding: 0;
        order: 1;
        font-size: 20px;
        font-weight: normal;
        font-family: 'azoft';
        text-transform: lowercase;

        img {
            height: 30px;
            width: auto;
            vertical-align: middle;

            &.wt {
                display: none;
            }

            @include min_width(992) {
                height: 40px;
            }
        }

        &:hover {
            background: none;
        }

        &:after {
            display: none;
        }

        @include min_width(768) {
            flex: 1.2;
            display: inline-block;
            max-height: 60px;

            &:after {
                display: block;
                /*content: '';*/
                height: 100%;
                width: 1px;
                background-color: rgba($color-white, .3);
                position: absolute;
                right: -.5em;
                top: 0;
            }

            &:last-child {
                margin-right: 0;

                &:after {
                    margin-right: 0;
                    display: none;
                }
            }
        }
    }

    &.fixed {
        background-color: rgba($color-bg, .9);
        padding-left: 0;
        padding: 10px 0;

        nav {}

        .nav__links {
            width: 100%;
            padding: 0;
        }

        .nav__links-item {
            &.links {
                @include min_width(768) {
                    flex: 3.8;
                    margin-top: 0;
                    order: 2;
                    font-size: .7em;

                    .btnlink {
                        margin-bottom: 0;
                        margin-right: 1em;

                        &:last-child {
                            margin-right: 0;
                        }

                        @include min_width(1200) {

                            i {
                                top: 12px;
                            }
                        }
                    }
                }
            }

            &.buttons {
                text-align: right;

                @include min_width(992) {
                    flex: 1.5;
                }
            }
        }

        .nav__links-item.logo {
            font-size: 18px;

            span {
                display: block;
            }

            display: inline-block;

            @include min_width(1200) {
                flex: 2.75;
            }
        }
    }

    &.menu_show {
        background-color: rgba($color-bg, .9);
    }
}