extends layout/layout_inner.pug

block vars
	-
		var pageTitle = 'Статья';
		var pageType = 'article';

block aside
	.links.blocks
		.item.bg_blue
			.text
				| Проверь себя по минимаксу
			.more
				a(href='/').btn_link Пройти тест
		.item.bg_ochre
			.text
				| Книга дня от ВсеНауки
			.more
				a(href='/').btn_link Пройти тест
		.item.aside_slider.owl-carousel.owl-theme
			div.owl_item(style='background-image: url(/img/Space_Galaxy_0123412341234_.jpg)')
				.in
					|Очень длинное название темы от ВсеНауки
			div.owl_item(style='background-image: url(/img/Space_Galaxy_0123412341234_.jpg)')
				.in
					|Очень длинное название темы от ВсеНауки
			div.owl_item(style='background-image: url(/img/Space_Galaxy_0123412341234_.jpg)')
				.in
					|Очень длинное название темы от ВсеНауки



block inner

	article
		h1.title 
			span.date 25.08.2019
			| Название текстовой страницы

		.img
			img(src='/img/Space_Galaxy_032891_.jpg')

		p.
			Получение первого изображения тени черной дыры чрезвычайно важно для научного сообщества, и сравнимо с детектированием гравитационных волн, заявил РИА Новости старший научный сотрудник Института космических исследований (ИКИ) РАН Олег Цупко.
		p.
			Ранее ученые международного проекта Event Horizon Telescope представили первое в истории изображение тени черной дыры. Она находится в галактике М87 скопления Девы, на расстоянии более 50 миллионов световых лет от Земли.

		table(width="0")
			tbody
				tr
				td(width="197")
					p
					strong Название страницы
				td(width="86")
					p
					strong Общее число просмотров за период
				td(width="86")
					p
					strong Среднее число просмотров за месяц
				tr
				td(width="197")
					p
					strong Блокчейн
				td(width="86")
					p 2 413 707
				td(width="86")
					p 104 944
				tr
				td(width="197")
					p
					strong Солнечная система
				td(width="86")
					p 2 137 353
				td(width="86")
					p 92 928
				tr
				td(width="197")
					p
					strong Криптовалюта
				td(width="86")
					p 2 061 305
				td(width="86")
					p 89 622
				tr
				td(width="197")
					p
					strong Интернет
				td(width="86")
					p 1 861 048
				td(width="86")
					p 80 915
				tr
				td(width="197")
					p
					strong Агностицизм
				td(width="86")
					p 1 841 783
				td(width="86")
					p 80 078
				tr
				td(width="197")
					p
					strong Феминизм
				td(width="86")
					p 1 719 489
				td(width="86")
					p 74 760
				tr
				td(width="197")
					p
					strong Любовь
				td(width="86")
					p 1 614 042
				td(width="86")
					p 70 176
				tr
				td(width="197")
					p
					strong Либерализм
				td(width="86")
					p 1 608 486
				td(width="86")
					p 69 934
				tr
				td(width="197")
					p
					strong Валовой внутренний продукт
				td(width="86")
					p 1 390 522
				td(width="86")
					p 60 457
				tr
				td(width="197")
					p
					strong Фашизм
				td(width="86")
					p 1 328 951
				td(width="86")
					p 57 780
				tr
				td(width="197")
					p
					strong Государство
				td(width="86")
					p 1 257 374
				td(width="86")
					p 54 668
				tr
				td(width="197")
					p
					strong Экзистенциализм
				td(width="86")
					p 1 230 772
				td(width="86")
					p 53 512
				tr
				td(width="197")
					p
					strong Периодическая система химических элементов
				td(width="86")
					p 1 177 927
				td(width="86")
					p 51 214
				tr
				td(width="197")
					p
					strong Демократия
				td(width="86")
					p 1 133 230
				td(width="86")
					p 49 271
				tr
				td(width="197")
					p
					strong Коммунизм
				td(width="86")
					p 1 117 969
				td(width="86")
					p 48 607
				tr
				td(width="197")
					p
					strong Черная дыра
				td(width="86")
					p 1 110 166
				td(width="86")
					p 48 268
				tr
				td(width="197")
					p
					strong Гомосексуальность
				td(width="86")
					p 1 101 701
				td(width="86")
					p 47 900
				tr
				td(width="197")
					p
					strong Человек разумный
				td(width="86")
					p 1 051 568
				td(width="86")
					p 45 720
				tr
				td(width="197")
					p
					strong Социализм
				td(width="86")
					p 990 848
				td(width="86")
					p 43 080
				tr
				td(width="197")
					p
					strong Вирусы
				td(width="86")
					p 945 758
				td(width="86")
					p 41 120
				tr
				td(width="197")
					p
					strong Дофамин
				td(width="86")
					p 940 209
				td(width="86")
					p 40 879
				tr
				td(width="197")
					p
					strong Религия
				td(width="86")
					p 877 751
				td(width="86")
					p 38 163
				tr
				td(width="197")
					p
					strong Шовинизм
				td(width="86")
					p 837 673
				td(width="86")
					p 36 421
				tr
				td(width="197")
					p
					strong Тоталитаризм
				td(width="86")
					p 836 474
				td(width="86")
					p 36 368
				tr
				td(width="197")
					p
					strong Человек
				td(width="86")
					p 822 351
				td(width="86")
					p 35 754
				tr
				td(width="197")
					p
					strong Априори
				td(width="86")
					p 808 725
				td(width="86")
					p 35 162
				tr
				td(width="197")
					p
					strong Атеизм
				td(width="86")
					p 806 041
				td(width="86")
					p 35 045
				tr
				td(width="197")
					p
					strong Скорость света
				td(width="86")
					p 795 563
				td(width="86")
					p 34 590
				tr
				td(width="197")
					p
					strong Национализм
				td(width="86")
					p 788 116
				td(width="86")
					p 34 266
				tr
				td(width="197")
					p
					strong Аминокислоты
				td(width="86")
					p 787 792
				td(width="86")
					p 34 252
				tr
				td(width="197")
					p
					strong Дезоксирибонуклеиновая кислота
				td(width="86")
					p 772 706
				td(width="86")
					p 33 596
				tr
				td(width="197")
					p
					strong Вселенная
				td(width="86")
					p 765 360
				td(width="86")
					p 33 277
				tr
				td(width="197")
					p
					strong Антибиотики
				td(width="86")
					p 760 000
				td(width="86")
					p 33 043
				tr
				td(width="197")
					p
					strong Глобализация
				td(width="86")
					p 731 934
				td(width="86")
					p 31 823
				tr
				td(width="197")
					p
					strong Тестостерон
				td(width="86")
					p 719 254
				td(width="86")
					p 31 272
				tr
				td(width="197")
					p
					strong Даркнет
				td(width="86")
					p 716 500
				td(width="86")
					p 31 152
				tr
				td(width="197")
					p
					strong Анархизм
				td(width="86")
					p 715 950
				td(width="86")
					p 31 128
				tr
				td(width="197")
					p
					strong Искусственный интеллект
				td(width="86")
					p 696 757
				td(width="86")
					p 30 294
				tr
				td(width="197")
					p
					strong Информационные технологии
				td(width="86")
					p 685 429
				td(width="86")
					p 29 801
				tr
				td(width="197")
					p
					strong Сексизм
				td(width="86")
					p 684 097
				td(width="86")
					p 29 743
				tr
				td(width="197")
					p
					strong Искусство
				td(width="86")
					p 682 537
				td(width="86")
					p 29 676
				tr
				td(width="197")
					p
					strong Серотонин
				td(width="86")
					p 678 045
				td(width="86")
					p 29 480
				tr
				td(width="197")
					p
					strong Окситоцин
				td(width="86")
					p 670 283
				td(width="86")
					p 29 143
				tr
				td(width="197")
					p
					strong Бритва Оккама
				td(width="86")
					p 668 401
				td(width="86")
					p 29 061
				tr
				td(width="197")
					p
					strong Неандерталец
				td(width="86")
					p 638 423
				td(width="86")
					p 27 758
				tr
				td(width="197")
					p
					strong Эндорфины
				td(width="86")
					p 630 135
				td(width="86")
					p 27 397
				tr
				td(width="197")
					p
					strong Квир
				td(width="86")
					p 621 261
				td(width="86")
					p 27 011
				tr
				td(width="197")
					p
					strong Катарсис
				td(width="86")
					p 612 385
				td(width="86")
					p 26 625
				tr
				td(width="197")
					p
					strong Личность
				td(width="86")
					p 597 351
				td(width="86")
					p 25 972
				tr
				td(width="197")
					p
					strong Адреналин
				td(width="86")
					p 571 476
				td(width="86")
					p 24 847
				tr
				td(width="197")
					p
					strong Звезда
				td(width="86")
					p 570 056
				td(width="86")
					p 24 785
				tr
				td(width="197")
					p
					strong Гравитация
				td(width="86")
					p 568 846
				td(width="86")
					p 24 732
				tr
				td(width="197")
					p
					strong Мораль
				td(width="86")
					p 566 500
				td(width="86")
					p 24 630
				tr
				td(width="197")
					p
					strong Ксенофобия
				td(width="86")
					p 560 859
				td(width="86")
					p 24 385
				tr
				td(width="197")
					p
					strong Альтруизм
				td(width="86")
					p 559 091
				td(width="86")
					p 24 308
				tr
				td(width="197")
					p
					strong Либидо
				td(width="86")
					p 536 206
				td(width="86")
					p 23 313
				tr
				td(width="197")
					p
					strong Правые (политика)
				td(width="86")
					p 535 996
				td(width="86")
					p 23 304
				tr
				td(width="197")
					p
					strong Алгоритм
				td(width="86")
					p 535 943
				td(width="86")
					p 23 302
				tr
				td(width="197")
					p
					strong Время
				td(width="86")
					p 532 725
				td(width="86")
					p 23 162
				tr
				td(width="197")
					p
					strong Прагматизм
				td(width="86")
					p 532 589
				td(width="86")
					p 23 156
				tr
				td(width="197")
					p
					strong Бог
				td(width="86")
					p 522 484
				td(width="86")
					p 22 717
				tr
				td(width="197")
					p
					strong Галактика
				td(width="86")
					p 521 797
				td(width="86")
					p 22 687
				tr
				td(width="197")
					p
					strong Гормоны
				td(width="86")
					p 518 564
				td(width="86")
					p 22 546
				tr
				td(width="197")
					p
					strong Аннигиляция
				td(width="86")
					p 509 465
				td(width="86")
					p 22 151
				tr
				td(width="197")
					p
					strong Эволюция
				td(width="86")
					p 508 923
				td(width="86")
					p 22 127
				tr
				td(width="197")
					p
					strong Расизм
				td(width="86")
					p 502 478
				td(width="86")
					p 21 847
				tr
				td(width="197")
					p
					strong Харизма
				td(width="86")
					p 493 591
				td(width="86")
					p 21 460
				tr
				td(width="197")
					p
					strong Информатика
				td(width="86")
					p 481 646
				td(width="86")
					p 20 941
				tr
				td(width="197")
					p
					strong Фотон
				td(width="86")
					p 480 955
				td(width="86")
					p 20 911
				tr
				td(width="197")
					p
					strong Антропогенез
				td(width="86")
					p 473 474
				td(width="86")
					p 20 586
				tr
				td(width="197")
					p
					strong Смерть
				td(width="86")
					p 469 346
				td(width="86")
					p 20 406
				tr
				td(width="197")
					p
					strong Этика
				td(width="86")
					p 468 629
				td(width="86")
					p 20 375
				tr
				td(width="197")
					p
					strong Электрон
				td(width="86")
					p 460 385
				td(width="86")
					p 20 017
				tr
				td(width="197")
					p
					strong Смысл жизни
				td(width="86")
					p 458 871
				td(width="86")
					p 19 951
				tr
				td(width="197")
					p
					strong Логика
				td(width="86")
					p 446 792
				td(width="86")
					p 19 426
				tr
				td(width="197")
					p
					strong Верификация
				td(width="86")
					p 438 968
				td(width="86")
					p 19 086
				tr
				td(width="197")
					p
					strong Эндокринная система
				td(width="86")
					p 434 253
				td(width="86")
					p 18 881
				tr
				td(width="197")
					p
					strong Закон сохранения энергии
				td(width="86")
					p 421 904
				td(width="86")
					p 18 344
				tr
				td(width="197")
					p
					strong Онтология
				td(width="86")
					p 421 007
				td(width="86")
					p 18 305
				tr
				td(width="197")
					p
					strong Темная материя
				td(width="86")
					p 420 059
				td(width="86")
					p 18 263
				tr
				td(width="197")
					p
					strong Правовое государство
				td(width="86")
					p 414 370
				td(width="86")
					p 18 016
				tr
				td(width="197")
					p
					strong Эстетика
				td(width="86")
					p 399 579
				td(width="86")
					p 17 373
				tr
				td(width="197")
					p
					strong Всемирная паутина
				td(width="86")
					p 398 467
				td(width="86")
					p 17 325
				tr
				td(width="197")
					p
					strong Клиническая смерть
				td(width="86")
					p 397 479
				td(width="86")
					p 17 282
				tr
				td(width="197")
					p
					strong Мировоззрение
				td(width="86")
					p 381 688
				td(width="86")
					p 16 595
				tr
				td(width="197")
					p
					strong Гражданское общество
				td(width="86")
					p 374 124
				td(width="86")
					p 16 266
				tr
				td(width="197")
					p
					strong Материализм
				td(width="86")
					p 372 411
				td(width="86")
					p 16 192
				tr
				td(width="197")
					p
					strong Рекурсия
				td(width="86")
					p 369 280
				td(width="86")
					p 16 056
				tr
				td(width="197")
					p
					strong Позитивизм
				td(width="86")
					p 361 836
				td(width="86")
					p 15 732
				tr
				td(width="197")
					p
					strong Стереотип
				td(width="86")
					p 358 598
				td(width="86")
					p 15 591
				tr
				td(width="197")
					p
					strong Детерминизм
				td(width="86")
					p 357 547
				td(width="86")
					p 15 546
				tr
				td(width="197")
					p
					strong Характер
				td(width="86")
					p 355 284
				td(width="86")
					p 15 447
				tr
				td(width="197")
					p
					strong Эгоизм
				td(width="86")
					p 353 875
				td(width="86")
					p 15 386
				tr
				td(width="197")
					p
					strong Двоичная система счисления
				td(width="86")
					p 350 182
				td(width="86")
					p 15 225
				tr
				td(width="197")
					p
					strong Астрономия
				td(width="86")
					p 346 445
				td(width="86")
					p 15 063
				tr
				td(width="197")
					p
					strong Графен
				td(width="86")
					p 344 380
				td(width="86")
					p 14 973
				tr
				td(width="197")
					p
					strong Кварк
				td(width="86")
					p 344 188
				td(width="86")
					p 14 965
				tr
				td(width="197")
					p
					strong Электрический заряд
				td(width="86")
					p 343 675
				td(width="86")
					p 14 942
				tr
				td(width="197")
					p
					strong Рациональное число
				td(width="86")
					p 341 158
				td(width="86")
					p 14 833
				tr
				td(width="197")
					p
					strong Нравственность
				td(width="86")
					p 340 875
				td(width="86")
					p 14 821
				tr
				td(width="197")
					p
					strong Возникновение жизни
				td(width="86")
					p 339 683
				td(width="86")
					p 14 769
				tr
				td(width="197")
					p
					strong Идеология
				td(width="86")
					p 334 553
				td(width="86")
					p 14 546
				tr
				td(width="197")
					p
					strong Концепция
				td(width="86")
					p 332 901
				td(width="86")
					p 14 474
				tr
				td(width="197")
					p
					strong Счастье
				td(width="86")
					p 332 064
				td(width="86")
					p 14 438
				tr
				td(width="197")
					p
					strong Кибернетика
				td(width="86")
					p 331 128
				td(width="86")
					p 14 397
				tr
				td(width="197")
					p
					strong Принцип неопределенности
				td(width="86")
					p 325 124
				td(width="86")
					p 14 136
				tr
				td(width="197")
					p
					strong Ноосфера
				td(width="86")
					p 322 116
				td(width="86")
					p 14 005
				tr
				td(width="197")
					p
					strong Игра
				td(width="86")
					p 319 360
				td(width="86")
					p 13 885
				tr
				td(width="197")
					p
					strong Протон
				td(width="86")
					p 318 577
				td(width="86")
					p 13 851
				tr
				td(width="197")
					p
					strong Люди (род)
				td(width="86")
					p 318 267
				td(width="86")
					p 13 838
				tr
				td(width="197")
					p
					strong Сексуальная ориентация
				td(width="86")
					p 312 270
				td(width="86")
					p 13 577
				tr
				td(width="197")
					p
					strong Времена года
				td(width="86")
					p 310 809
				td(width="86")
					p 13 513
				tr
				td(width="197")
					p
					strong Абсолютный нуль температуры
				td(width="86")
					p 306 495
				td(width="86")
					p 13 326
				tr
				td(width="197")
					p
					strong Собственность
				td(width="86")
					p 306 416
				td(width="86")
					p 13 322
				tr
				td(width="197")
					p
					strong Власть
				td(width="86")
					p 306 341
				td(width="86")
					p 13 319
				tr
				td(width="197")
					p
					strong Агрегатное состояние
				td(width="86")
					p 304 346
				td(width="86")
					p 13 232
				tr
				td(width="197")
					p
					strong Астероид
				td(width="86")
					p 300 512
				td(width="86")
					p 13 066
				tr
				td(width="197")
					p
					strong Три закона роботехники
				td(width="86")
					p 295 674
				td(width="86")
					p 12 855
				tr
				td(width="197")
					p
					strong Душа
				td(width="86")
					p 295 220
				td(width="86")
					p 12 836
				tr
				td(width="197")
					p
					strong Индустриальное общество
				td(width="86")
					p 291 706
				td(width="86")
					p 12 683
				tr
				td(width="197")
					p
					strong Совесть
				td(width="86")
					p 288 319
				td(width="86")
					p 12 536
				tr
				td(width="197")
					p
					strong Категорический императив
				td(width="86")
					p 284 702
				td(width="86")
					p 12 378
				tr
				td(width="197")
					p
					strong Рибосома
				td(width="86")
					p 284 225
				td(width="86")
					p 12 358
				tr
				td(width="197")
					p
					strong Автоматизированная система управления
				td(width="86")
					p 281 573
				td(width="86")
					p 12 242
				tr
				td(width="197")
					p
					strong Эгоцентризм
				td(width="86")
					p 279 995
				td(width="86")
					p 12 174
				tr
				td(width="197")
					p
					strong Истина
				td(width="86")
					p 279 661
				td(width="86")
					p 12 159
				tr
				td(width="197")
					p
					strong Симулякр
				td(width="86")
					p 277 393
				td(width="86")
					p 12 061
				tr
				td(width="197")
					p
					strong Интерфейс
				td(width="86")
					p 276 562
				td(width="86")
					p 12 024
				tr
				td(width="197")
					p
					strong Биотехнология
				td(width="86")
					p 275 032
				td(width="86")
					p 11 958
				tr
				td(width="197")
					p
					strong Закон сохранения импульса
				td(width="86")
					p 273 887
				td(width="86")
					p 11 908
				tr
				td(width="197")
					p
					strong Информационное общество
				td(width="86")
					p 271 017
				td(width="86")
					p 11 783
				tr
				td(width="197")
					p
					strong Солнцестояние
				td(width="86")
					p 266 966
				td(width="86")
					p 11 607
				tr
				td(width="197")
					p
					strong Свобода
				td(width="86")
					p 266 873
				td(width="86")
					p 11 603
				tr
				td(width="197")
					p
					strong Кроманьонец
				td(width="86")
					p 266 413
				td(width="86")
					p 11 583
				tr
				td(width="197")
					p
					strong Биологическое оружие
				td(width="86")
					p 265 969
				td(width="86")
					p 11 564
				tr
				td(width="197")
					p
					strong Идеализм
				td(width="86")
					p 265 468
				td(width="86")
					p 11 542
				tr
				td(width="197")
					p
					strong Кротовая нора
				td(width="86")
					p 263 380
				td(width="86")
					p 11 451
				tr
				td(width="197")
					p
					strong Мультивселенная
				td(width="86")
					p 256 274
				td(width="86")
					p 11 142
				tr
				td(width="197")
					p
					strong Альтернативная энергетика
				td(width="86")
					p 255 707
				td(width="86")
					p 11 118
				tr
				td(width="197")
					p
					strong Парниковый эффект
				td(width="86")
					p 253 443
				td(width="86")
					p 11 019
				tr
				td(width="197")
					p
					strong Синергетика
				td(width="86")
					p 251 704
				td(width="86")
					p 10 944
				tr
				td(width="197")
					p
					strong Репликация ДНК
				td(width="86")
					p 249 142
				td(width="86")
					p 10 832
				tr
				td(width="197")
					p
					strong Научный метод
				td(width="86")
					p 245 719
				td(width="86")
					p 10 683
				tr
				td(width="197")
					p
					strong Парадигма (философия)
				td(width="86")
					p 244 504
				td(width="86")
					p 10 631
				tr
				td(width="197")
					p
					strong Гравитационная сингулярность
				td(width="86")
					p 243 419
				td(width="86")
					p 10 583
				tr
				td(width="197")
					p
					strong Монотеизм
				td(width="86")
					p 240 870
				td(width="86")
					p 10 473
				tr
				td(width="197")
					p
					strong IP-телефония
				td(width="86")
					p 239 609
				td(width="86")
					p 10 418
				tr
				td(width="197")
					p
					strong Материя (философия)
				td(width="86")
					p 239 099
				td(width="86")
					p 10 396
				tr
				td(width="197")
					p
					strong Бот (программа)
				td(width="86")
					p 237 853
				td(width="86")
					p 10 341
				tr
				td(width="197")
					p
					strong Добро
				td(width="86")
					p 235 660
				td(width="86")
					p 10 246
				tr
				td(width="197")
					p
					strong Восприятие
				td(width="86")
					p 232 171
				td(width="86")
					p 10 094
				tr
				td(width="197")
					p
					strong Нейтрон
				td(width="86")
					p 230 389
				td(width="86")
					p 10 017
				tr
				td(width="197")
					p
					strong Виртуальная реальность
				td(width="86")
					p 228 803
				td(width="86")
					p 9 948
				tr
				td(width="197")
					p
					strong Критическое мышление
				td(width="86")
					p 228 579
				td(width="86")
					p 9 938
				tr
				td(width="197")
					p
					strong Дискретность
				td(width="86")
					p 228 020
				td(width="86")
					p 9 914
				tr
				td(width="197")
					p
					strong Утилитаризм
				td(width="86")
					p 227 371
				td(width="86")
					p 9 886
				tr
				td(width="197")
					p
					strong Познание
				td(width="86")
					p 226 396
				td(width="86")
					p 9 843
				tr
				td(width="197")
					p
					strong Гипотеза
				td(width="86")
					p 224 730
				td(width="86")
					p 9 771
				tr
				td(width="197")
					p
					strong Технологическая сингулярность
				td(width="86")
					p 224 519
				td(width="86")
					p 9 762
				tr
				td(width="197")
					p
					strong Симметрия
				td(width="86")
					p 224 183
				td(width="86")
					p 9 747
				tr
				td(width="197")
					p
					strong Золотое правило нравственности
				td(width="86")
					p 222 255
				td(width="86")
					p 9 663
				tr
				td(width="197")
					p
					strong Человек прямоходящий
				td(width="86")
					p 218 229
				td(width="86")
					p 9 488
				tr
				td(width="197")
					p
					strong Звездная эволюция
				td(width="86")
					p 217 593
				td(width="86")
					p 9 461
				tr
				td(width="197")
					p
					strong Знание
				td(width="86")
					p 216 613
				td(width="86")
					p 9 418
				tr
				td(width="197")
					p
					strong Сила тяжести
				td(width="86")
					p 215 121
				td(width="86")
					p 9 353
				tr
				td(width="197")
					p
					strong Сверхсветовое движение
				td(width="86")
					p 210 291
				td(width="86")
					p 9 143
				tr
				td(width="197")
					p
					strong Гамма-аминомасляная кислота
				td(width="86")
					p 210 103
				td(width="86")
					p 9 135
				tr
				td(width="197")
					p
					strong Гендерная идентичность
				td(width="86")
					p 207 457
				td(width="86")
					p 9 020
				tr
				td(width="197")
					p
					strong Бесконечность
				td(width="86")
					p 205 613
				td(width="86")
					p 8 940
				tr
				td(width="197")
					p
					strong Атомное ядро
				td(width="86")
					p 205 160
				td(width="86")
					p 8 920
				tr
				td(width="197")
					p
					strong Общественно-экономическая формация
				td(width="86")
					p 204 504
				td(width="86")
					p 8 891
				tr
				td(width="197")
					p
					strong Справедливость
				td(width="86")
					p 204 324
				td(width="86")
					p 8 884
				tr
				td(width="197")
					p
					strong Социальная инженерия
				td(width="86")
					p 200 238
				td(width="86")
					p 8 706
				tr
				td(width="197")
					p
					strong Гравитационная постоянная
				td(width="86")
					p 199 805
				td(width="86")
					p 8 687
				tr
				td(width="197")
					p
					strong Вера
				td(width="86")
					p 195 050
				td(width="86")
					p 8 480
				tr
				td(width="197")
					p
					strong Система координат
				td(width="86")
					p 192 073
				td(width="86")
					p 8 351
				tr
				td(width="197")
					p
					strong Двоичный код
				td(width="86")
					p 187 850
				td(width="86")
					p 8 167
				tr
				td(width="197")
					p
					strong Боль
				td(width="86")
					p 184 749
				td(width="86")
					p 8 033
				tr
				td(width="197")
					p
					strong Цель
				td(width="86")
					p 183 598
				td(width="86")
					p 7 983
				tr
				td(width="197")
					p
					strong Красота
				td(width="86")
					p 182 757
				td(width="86")
					p 7 946
				tr
				td(width="197")
					p
					strong Методология
				td(width="86")
					p 182 484
				td(width="86")
					p 7 934
				tr
				td(width="197")
					p
					strong Общественный договор
				td(width="86")
					p 181 174
				td(width="86")
					p 7 877
				tr
				td(width="197")
					p
					strong Происхождение человека от обезьяны
				td(width="86")
					p 176 412
				td(width="86")
					p 7 670
				tr
				td(width="197")
					p
					strong Перцептрон
				td(width="86")
					p 166 263
				td(width="86")
					p 7 229
				tr
				td(width="197")
					p
					strong Биологическая смерть
				td(width="86")
					p 163 845
				td(width="86")
					p 7 124
				tr
				td(width="197")
					p
					strong Фальсифицируемость
				td(width="86")
					p 163 431
				td(width="86")
					p 7 106
				tr
				td(width="197")
					p
					strong Ценность
				td(width="86")
					p 162 674
				td(width="86")
					p 7 073
				tr
				td(width="197")
					p
					strong Антропоцентризм
				td(width="86")
					p 153 563
				td(width="86")
					p 6 677
				tr
				td(width="197")
					p
					strong Понятие
				td(width="86")
					p 149 304
				td(width="86")
					p 6 491
				tr
				td(width="197")
					p
					strong Научная картина мира
				td(width="86")
					p 149 040
				td(width="86")
					p 6 480
				tr
				td(width="197")
					p
					strong Теория
				td(width="86")
					p 147 486
				td(width="86")
					p 6 412
				tr
				td(width="197")
					p
					strong Половой диморфизм
				td(width="86")
					p 144 815
				td(width="86")
					p 6 296
				tr
				td(width="197")
					p
					strong Традиционное общество
				td(width="86")
					p 144 536
				td(width="86")
					p 6 284
				tr
				td(width="197")
					p
					strong Половые гормоны
				td(width="86")
					p 144 248
				td(width="86")
					p 6 272
				tr
				td(width="197")
					p
					strong Антропный принцип
				td(width="86")
					p 141 717
				td(width="86")
					p 6 162
				tr
				td(width="197")
					p
					strong Добродетель
				td(width="86")
					p 140 325
				td(width="86")
					p 6 101
				tr
				td(width="197")
					p
					strong Хаос
				td(width="86")
					p 134 818
				td(width="86")
					p 5 862
				tr
				td(width="197")
					p
					strong Частная собственность
				td(width="86")
					p 134 121
				td(width="86")
					p 5 831
				tr
				td(width="197")
					p
					strong Мечта
				td(width="86")
					p 131 238
				td(width="86")
					p 5 706
				tr
				td(width="197")
					p
					strong Синтез
				td(width="86")
					p 129 380
				td(width="86")
					p 5 625
				tr
				td(width="197")
					p
					strong Общество потребления
				td(width="86")
					p 128 300
				td(width="86")
					p 5 578
				tr
				td(width="197")
					p
					strong Персональные данные
				td(width="86")
					p 126 009
				td(width="86")
					p 5 479
				tr
				td(width="197")
					p
					strong Естественное право
				td(width="86")
					p 125 210
				td(width="86")
					p 5 444
				tr
				td(width="197")
					p
					strong Материя (физика)
				td(width="86")
					p 125 087
				td(width="86")
					p 5 439
				tr
				td(width="197")
					p
					strong Медицинская этика
				td(width="86")
					p 124 054
				td(width="86")
					p 5 394
				tr
				td(width="197")
					p
					strong Детерминированность
				td(width="86")
					p 116 500
				td(width="86")
					p 5 065
				tr
				td(width="197")
					p
					strong Свобода воли
				td(width="86")
					p 115 237
				td(width="86")
					p 5 010
				tr
				td(width="197")
					p
					strong Воля (психология)
				td(width="86")
					p 112 872
				td(width="86")
					p 4 907
				tr
				td(width="197")
					p
					strong Углеродные нанотрубки
				td(width="86")
					p 112 726
				td(width="86")
					p 4 901
				tr
				td(width="197")
					p
					strong Изменение климата
				td(width="86")
					p 111 257
				td(width="86")
					p 4 837
				tr
				td(width="197")
					p
					strong Идея
				td(width="86")
					p 109 455
				td(width="86")
					p 4 759
				tr
				td(width="197")
					p
					strong Самосознание
				td(width="86")
					p 108 861
				td(width="86")
					p 4 733
				tr
				td(width="197")
					p
					strong Индивидуализм
				td(width="86")
					p 107 781
				td(width="86")
					p 4 686
				tr
				td(width="197")
					p
					strong Качество жизни
				td(width="86")
					p 107 144
				td(width="86")
					p 4 658
				tr
				td(width="197")
					p
					strong Рациональность
				td(width="86")
					p 104 217
				td(width="86")
					p 4 531
				tr
				td(width="197")
					p
					strong Реальность
				td(width="86")
					p 103 926
				td(width="86")
					p 4 519
				tr
				td(width="197")
					p
					strong Биоэтика
				td(width="86")
					p 101 921
				td(width="86")
					p 4 431
				tr
				td(width="197")
					p
					strong Факт
				td(width="86")
					p 100 647
				td(width="86")
					p 4 376
				tr
				td(width="197")
					p
					strong Толерантность (социология)
				td(width="86")
					p 99 426
				td(width="86")
					p 4 323
				tr
				td(width="197")
					p
					strong Суждение
				td(width="86")
					p 96 937
				td(width="86")
					p 4 215
				tr
				td(width="197")
					p
					strong Планковская длина
				td(width="86")
					p 89 694
				td(width="86")
					p 3 900
				tr
				td(width="197")
					p
					strong Предельная полезность
				td(width="86")
					p 88 678
				td(width="86")
					p 3 856
				tr
				td(width="197")
					p
					strong Глубокое обучение
				td(width="86")
					p 80 483
				td(width="86")
					p 3 499
				tr
				td(width="197")
					p
					strong Астрофизика
				td(width="86")
					p 74 073
				td(width="86")
					p 3 221
				tr
				td(width="197")
					p
					strong Нормы морали
				td(width="86")
					p 47 441
				td(width="86")
					p 2 063
				tr
				td(width="197")
					p
					strong Биологическое бессмертие
				td(width="86")
					p 39 347
				td(width="86")
					p 1 711
				tr
				td(width="197")
					p
					strong Космос
				td(width="86")
					p 38 420
				td(width="86")
					p 1 670
				tr
				td(width="197")
					p
					strong Долголетие
				td(width="86")
					p 34 220
				td(width="86")
					p 1 488

		p.
			По словам Цупко, сейчас считается, что в центре большинства галактик имеется сверхмассивная черная дыра массой в миллионы и даже в миллиарды масс Солнца. Находящийся далеко наблюдатель должен "видеть" такую дыру как темное пятно на небе (на фоне ярких источников). Это пятно и называется тенью черной дыры. В случае сверхмассивных черных дыр пятно видно на фоне света от вещества, находящегося в непосредственной близости от черной дыры.
		p.
			Ранее сообщалось, что гравитационные волны были зафиксированы в сентябре 2015 года двумя лазерно-интерферометрическими гравитационно-волновыми обсерваториями (LIGO) в США и аналогичной лабораторией в Италии. За вклад в изучение гравитационных волн американские ученые Рейнер Вайс, Барри Бэриш и Кип Торн получили Нобелевскую премию 2017 года по физике.

		.imgs 
			a(href='/img/s1200.jpg' data-fancybox="gallery" style='background-image: url(/img/s1200.jpg)')
				.overlay
					i.fas.fa-plus
				img(src='/img/s1200.jpg')
			a(href='/img/sci-fi-black-hole-4851.jpg' data-fancybox="gallery" style='background-image: url(/img/sci-fi-black-hole-4851.jpg)')
				.overlay
					i.fas.fa-plus
				img(src='/img/sci-fi-black-hole-4851.jpg')
			a(href='/img/дыра.jpg' data-fancybox="gallery" style='background-image: url(/img/дыра.jpg)')
				.overlay
					i.fas.fa-plus
				img(src='/img/дыра.jpg')

		.tags 
			h3.sub_title Теги:
			a(href='/').btn_link #космос (20)
			a(href='/').btn_link #черные дыры (20)
			a(href='/').btn_link #какой-то тэг
			a(href='/').btn_link #космос (20)
			a(href='/').btn_link #черные дыры (20)
			a(href='/').btn_link #какой-то тэг
			a(href='/').btn_link #космос (20)
			a(href='/').btn_link #черные дыры (20)
			a(href='/').btn_link #какой-то тэг
