extends layout/layout_inner.pug

block vars
	-
		var pageTitle = 'Все статьи';
		var pageType = 'articles';



block aside
	.links.uppercase
		h3.sub_title Архив новостей:
		.link
			i.fas.fa-caret-right
			a(href='/') Январь (10)
		.link.active
			i.fas.fa-caret-right
			a(href='/') Февраль (20)
		.link
			i.fas.fa-caret-right
			a(href='/') Март (15)
		.link
			i.fas.fa-caret-right
			a(href='/') Апрель (30)

	.links.tags
		h3.sub_title Теги
		.tag
			a(href='/').btn_link
				| #наука (20)
		.tag
			a(href='/').btn_link
				| #черные дыры (20)
		.tag
			a(href='/').btn_link
				| #космос (20)
		.tag.active
			a(href='/').btn_link
				| #наука (20)
		.tag
			a(href='/').btn_link.all
				| все теги



block inner

	.articles 
		h1.title 
			|Статьи
			.navs
				span сортировать по: 
				a(href='/').active популярности
				|  / 
				a(href='/') по дате публиикации

		.row
			.col-12.col-md-6
				.articles-item(style='background-image: url(/img/download_img.png)')
					a(href='/article.html').in
						.date 28.05.2019
						.title Как выглядит черная дыра?
						.text Формирует ли современная школьная программа мировоззрение человека?
			.col-12.col-md-6
				.articles-item(style='background-image: url(/img/download_img.png)')
					a(href='/article.html').in
						.date 28.05.2019
						.title Как выглядит черная дыра?
			.col-12.col-md-6
				.articles-item(style='background-image: url(/img/download_img.png)')
					a(href='/article.html').in
						.date 28.05.2019
						.title Как выглядит черная дыра?
						.text Формирует ли современная школьная программа мировоззрение человека?
			.col-12.col-md-6
				.articles-item(style='background-image: url(/img/download_img.png)')
					a(href='/article.html').in
						.date 28.05.2019
						.title Как выглядит черная дыра?
						.text Формирует ли современная школьная программа мировоззрение человека?
			.col-12.col-md-6
				.articles-item(style='background-image: url(/img/download_img.png)')
					a(href='/article.html').in
						.date 28.05.2019
						.title Как выглядит черная дыра?
		.more.text-center
			a(href='/').btn_link показать ещё