extends layout/layout_inner.pug

block vars
	-
		var pageTitle = 'Эксперт';
		var pageType = 'expert';

block aside

	-
		var imhoList = [
			{
				ava: '/img/news_chel.jpg',
				info: 'доктор наук',
				name: 'Александр Аузан',
				text: 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение.',
			},
			{
				ava: '/img/news_chel.jpg',
				info: 'доктор наук',
				name: 'Александр Аузан',
				text: 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение.',
			},
			{
				ava: '/img/news_chel.jpg',
				info: 'доктор наук',
				name: 'Александр Аузан',
				text: 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение.',
			},
		];
	h2.aside_title Последние мнения:
	.item.imho_slider.owl-carousel.owl-theme
		each item in imhoList
			.slider-item
				.text=item.text
				.ava
					img(src=item.ava)
				.name=item.name
				.info=item.info
	.item.section__news
		.owl-carousel.block__slider
			article.section__news-news.bg_bluedim.text-center.expert(style="background-image: url('/img/news_chel.jpg')")
				.section__news-desc
					.section__news-label
						a.label.bg_bluedim(href="/experts.html") эксперты
					h3
						a(href="/expert.html")| Александр аузан
					p
						| Доктор экономических наук, декан экномического факультета МГУ
					.section__news-more
						a.more(href="/expert.html") подробнее
			article.section__news-news.bg_bluedim.text-center(style="background-image: url('/img/news_chel.jpg')")
				.section__news-desc
					.section__news-label
						a.label.bg_bluedim(href="/experts.html") эксперты
					h3
						a(href="/expert.html")| Александр аузан
					p
						| Доктор экономических наук, декан экномического факультета МГУ
					.section__news-more
						a.more(href="/expert.html") подробнее

block inner

	section.expert
		article
			.title_block.row
				.col-12.col-sm-6.col-md-5.col-lg-4.img
					img(src='/img/news_chel.jpg')
				.col-12.col-sm-6.col-md-7.col-lg-8
					h1.title Александр Аузан
					h3.sub_title Академик РАН
					blockquote.blockquote «Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.»
			.content_block
				p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.  Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
				p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. 


		-
			var list1 = [
				{
					img: '/img/download_img.png',
					date: '02.04.2019',
					title: 'Заголовок новости',
					info: 'Формирует ли современная школьная программа мировоззрение человека?',
				},
				{
					img: '/img/download_img.png',
					date: '02.04.2019',
					title: 'Заголовок новости',
					info: 'Формирует ли современная школьная программа мировоззрение человека?',
				},
				{
					img: '/img/download_img.png',
					date: '02.04.2019',
					title: 'Заголовок новости',
					info: 'Формирует ли современная школьная программа мировоззрение человека?',
				},
				{
					img: '/img/download_img.png',
					date: '02.04.2019',
					title: 'Заголовок новости',
					info: 'Формирует ли современная школьная программа мировоззрение человека?',
				},
				{
					img: '/img/download_img.png',
					date: '02.04.2019',
					title: 'Заголовок новости',
					info: 'Формирует ли современная школьная программа мировоззрение человека?',
				},
			];
		.list
			h2.h2 Прокомментировано экспертом
			.list_slider.owl-carousel
				each item in list1
					.list-item
						.img(style='background-image: url(' + item.img + ')')
						.date=item.date
						.title=item.title
						.info=item.info


		-
			var list2 = [
				{
					img: '/img/news_chel.jpg',
					date: 'доктор наук',
					title: 'Александр Аузан',
					info: 'Доктор экономических наук, декан экномического факультета МГУ',
				},
				{
					img: '/img/news_chel.jpg',
					date: 'доктор наук',
					title: 'Александр Аузан',
					info: 'Доктор экономических наук, декан экномического факультета МГУ',
				},
				{
					img: '/img/news_chel.jpg',
					date: 'доктор наук',
					title: 'Александр Аузан',
					info: 'Доктор экономических наук, декан экномического факультета МГУ',
				},
				{
					img: '/img/news_chel.jpg',
					date: 'доктор наук',
					title: 'Александр Аузан',
					info: 'Доктор экономических наук, декан экномического факультета МГУ',
				},
			];
		.list
			h2.h2 Прокомментировано экспертом
			.list_slider.owl-carousel
				each item in list2
					.list-item.exp
						.img(style='background-image: url(' + item.img + ')')
						.title=item.title
						.date=item.date
						.info=item.info