extends layout/layout_inner.pug

block vars
	-
		var pageTitle = 'Эксперты';
		var pageType = 'experts';

block aside

	.links 
		h3.sub_title Профессии
		.link
			i.fas.fa-caret-right
			a(href='/') Химик
		.link
			i.fas.fa-caret-right
			a(href='/') Физик
		.link
			i.fas.fa-caret-right
			a(href='/') Энергетик
		.link
			i.fas.fa-caret-right
			a(href='/') Космонофт

	.links.imho
		h3.sub_title Последние мнения:


block inner

	.experts
		h1.title 
			|Эксперты
			.navs
				span сортировать по: 
				a(href='/').active популярности
				|  / 
				a(href='/') по дате публиикации
		.list 
			- for(var i = 0; i < 5; i++)
				.expert.row
					.ava.col-12.col-md-6.col-lg-5
						img(src='/img/news_chel.jpg')
					.about.col-12.col-md-6.col-lg-7
						a(href='/expert.html').exp_name Александр Аузан
						.more Академик РАН
						.text Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
						a(href='/expert.html').btn_link.bg_blue подробнее


			.text-center
				a(href='/').btn_link.bg_blue показать ещё