extends layout/layout.pug

block vars
	-
		var pageTitle = 'Главная';
		var pageType = 'index';

block content

	main.page__index
		section.section__title
			.section__title-slider
				//- .section__title-buttons
				//- 	a.btnlinks.bg_bluedim(href="/content.html") о проекте
				//- 	a.btnlinks.bg_blue(href="/articles.html") минимакс
				//- 	a.btnlinks.bg_green(href="/news.html") толмач
				//- 	a.btnlinks.bg_ochre(href="/thems.html") инфотека
				#slider1.owl-carousel.owl-theme
					a(href='/article.html').title_slider-item
						.title_slider-item_img(style="background-image: url('/img/img@2x.jpg')")
						.container
							.row
								.col-12.col-md-8.offset-md-2
									.title
										| «Хочу, чтобы Всенаука так же увлекала взрослых, как Фиксики увлекают детей»
									p.text
										| ГЕОРГИЙ ВАСИЛЬЕВ, руководитель программы «Всенаука», продюсер сериала «Фиксики»
					a(href='/article.html').title_slider-item
						.title_slider-item_img(style="background-image: url('/img/дыра.jpg')")
						.container
							.row
								.col-12.col-md-8.offset-md-2
									.title
										| «Хочу, чтобы Всенаука так же увлекала взрослых, как Фиксики увлекают детей»
									p.text
										| ГЕОРГИЙ ВАСИЛЬЕВ, руководитель программы «Всенаука», продюсер сериала «Фиксики»
					a(href='/article.html').title_slider-item
						.title_slider-item_img(style="background-image: url('/img/title_bg.jpg')")
						.container
							.row
								.col-12.col-md-8.offset-md-2
									.title
										| «Хочу, чтобы Всенаука так же увлекала взрослых, как Фиксики увлекают детей»
									p.text
										| ГЕОРГИЙ ВАСИЛЬЕВ, руководитель программы «Всенаука», продюсер сериала «Фиксики»

		section.container.section__news
			.row
				.col-12.col-md-8
					article.section__news-news.bg_green(style="background-image: url('/img/дыра.jpg')")
						.section__news-label.left
							a.label(href="/themes.html") темы
						.section__news-desc.bg_trans
							h3.title
								a(href='/article.html') как выглядит черная дыра?
							.section__news-more
								span.views
									i.far.fa-eye
									|  105
								span.comments
									i.far.fa-comment
									|  36
								a.more(href="/theme_offer.html") предложить тему
				.col-12.col-md-4
					.owl-carousel.block__slider
						article.section__news-news.bg_bluedim.text-center.expert(style="background-image: url('/img/news_chel.jpg')")
							.section__news-desc
								.section__news-label
									a.label.bg_bluedim(href="/experts.html") эксперты
								h3
									a(href="/expert.html")| Александр аузан
								p
									| Доктор экономических наук, декан экномического факультета МГУ
								p
									| Доктор экономических наук, декан экномического факультета МГУ
								.section__news-more
									span.views
										i.far.fa-eye
										|  105
									span.comments
										i.far.fa-comment
										|  36
									a.more(href="/expert.html") подробнее
						article.section__news-news.bg_bluedim.text-center(style="background-image: url('/img/news_chel.jpg')")
							.section__news-desc
								.section__news-label
									a.label.bg_ochre(href="/experts.html") эксперты
								h3
									a(href="/expert.html")| Александр аузан
								p
									| Доктор экономических наук, декан экномического факультета МГУ
								.section__news-more
									span.views
										i.far.fa-eye
										|  105
									span.comments
										i.far.fa-comment
										|  36
									a.more(href="/expert.html") подробнее
				.col-12.col-md-4
					article.section__news-news.bg_blue
						.section__news-image(style="background-image: url('/img/news_sample.jpg')")
						.section__news-label
							a.label(href="/") минимакс
						.section__news-desc
							h3
								| Заголовок статьи
							p
								| описание статьи
							.section__news-more
								span.views
									i.far.fa-eye
									|  105
								span.comments
									i.far.fa-comment
									|  36
								a.more(href="/") подробнее
				.col-12.col-md-4
					article.section__news-news.bg_bluedim
						.section__news-label
							a.label.bg_ochre(href="/polls.html") опрос
						.section__news-desc.fill
							h3
								| Формирует ли современная школьная программа мировозрениие человека?
						.section__news-more
							span.views
								i.far.fa-eye
								|  105
							span.comments
								i.far.fa-comment
								|  36
							a.more(href="/") подробнее
				.col-12.col-md-4
					article.section__news-news.bg_green(style="background-image: url('/img/news_sample.jpg')")
						.section__news-label
							a.label(href="/") толмач
						.section__news-desc
							h3
								| Заголовок статьи
							p
								| описание статьи
							.section__news-more
								span.views
									i.far.fa-eye
									|  105
								span.comments
									i.far.fa-comment
									|  36
								a.more(href="/") подробнее
				.col-12.col-md-4
					article.section__news-news.bg_ochre(style="background-image: url('/img/news_sample.jpg')")
						.section__news-label
							a.label(href="/") рекомендации
						.section__news-desc
							h3
								| Заголовок статьи
							p
								| описание статьи
							.section__news-more
								span.views
									i.far.fa-eye
									|  105
								span.comments
									i.far.fa-comment
									|  36
								a.more(href="/") подробнее
				.col-12.col-md-8
					article.section__news-news.bg_blue(style="background-image: url('/img/news_sample.jpg')")
						.section__news-label.left
							a.label(href="/") минимакс
						.section__news-desc
							h3
								| Заголовок статьи
							p
								| описание статьи
							.section__news-more
								span.views
									i.far.fa-eye
									|  105
								span.comments
									i.far.fa-comment
									|  36
								a.more(href="/") подробнее
				.col-12
					.bg_fluid.bg_sky
						article.section__news-news.bg_sky
							.section__news-image(style="background-image: url('/img/дыра.jpg')")
							.section__news-content
								.section__news-label
									a.label.bg_blue(href="/") минимакс
								.section__news-desc.bg_trans
									h3
										| Зачем нам нужны научно популярные статьи?
									p
										| Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
									.section__news-more
										span.views
											i.far.fa-eye
											|  105
										span.comments
											i.far.fa-comment
											|  36
										a.more(href="/") подробнее
				.col-12.col-md-4
					article.section__news-news.bg_bluedim
						.section__news-label
							a.label.bg_ochre(href="/") опрос
						.section__news-desc.fill
							h3
								| Формирует ли современная школьная программа мировозрениие человека?
						.section__news-more
							span.views
								i.far.fa-eye
								|  105
							span.comments
								i.far.fa-comment
								|  36
							a.more(href="/") подробнее
				.col-12.col-md-4
					article.section__news-news.bg_green(style="background-image: url('/img/news_sample.jpg')")
						.section__news-label
							a.label(href="/") толмач
						.section__news-desc.bg_trans
							h3
								| Заголовок статьи
							p
								| описание статьи
							.section__news-more
								span.views
									i.far.fa-eye
									|  105
								span.comments
									i.far.fa-comment
									|  36
								a.more(href="/") подробнее
				.col-12.col-md-4
					article.section__news-news.bg_ochre(style="background-image: url('/img/news_sample.jpg')")
						.section__news-label
							a.label(href="/") рекомендации
						.section__news-desc
							h3
								| Заголовок статьи
							p
								| описание статьи
							.section__news-more
								span.views
									i.far.fa-eye
									|  105
								span.comments
									i.far.fa-comment
									|  36
								a.more(href="/") подробнее
