extends layout/layout_inner.pug

block vars
	-
		var pageTitle = 'Личный кабинет';
		var pageType = 'kabinet';


block inner

	section.kabinet_exp

		article
			h1.title 
				| Личный кабинете эксперта
				.navs
					a(href="/").btn_link.bg_blue выйти

			h3.subtitle
				span эксперт 
				| Виталий Кузнецов
			h3.subtitle
				span статус 
				| проверка сведений…
			h3.subtitle 
				span статус 
				| эксперт проекта 
				label.color-minimaks «Минимакс» 
				| и 
				label.color-tolmach «Толмач»

		.articles 
			h3.subtitle Вы можете выступить экспертом в наших текущих проектах:

			.row
				.col-12.col-md-6
					.articles-item(style='background-image: url(/img/download_img.png)')
						a(href='/article.html').in
							.date 28.05.2019
							.title Как выглядит черная дыра?
							.text Формирует ли современная школьная программа мировоззрение человека?
				.col-12.col-md-6
					.articles-item(style='background-image: url(/img/download_img.png)')
						a(href='/article.html').in
							.date 28.05.2019
							.title Как выглядит черная дыра?

		p Если у Вас возникли вопросы, свяжитесь с нами по адресу 
			a(href="mailto:info@vsenauka.rubberBand") info@vsenauka.rubberBand