extends layout/layout_inner.pug

block vars
	-
		var pageTitle = 'Минимакс';
		var pageType = 'articles';



block aside
	.links.uppercase
		h3.sub_title Архив новостей:
		.link
			i.fas.fa-caret-right
			a(href='/') Январь (10)
		.link.active
			i.fas.fa-caret-right
			a(href='/') Февраль (20)
		.link
			i.fas.fa-caret-right
			a(href='/') Март (15)
		.link
			i.fas.fa-caret-right
			a(href='/') Апрель (30)

	.links.tags
		h3.sub_title Теги
		.tag
			a(href='/').btn_link
				| #наука (20)
		.tag
			a(href='/').btn_link
				| #черные дыры (20)
		.tag
			a(href='/').btn_link
				| #космос (20)
		.tag.active
			a(href='/').btn_link
				| #наука (20)
		.tag
			a(href='/').btn_link.all
				| все теги



block inner
	.articles.minimaks
		h1.title Мини макс

		article
			p какое-то небольшие или очень большое описание
			p какое-то небольшие или очень большое описание какое-то небольшие или очень большое описание какое-то небольшие или очень большое описание
			p какое-то небольшие или очень большое описание

			.minimaks-list
				.row
					.col-12
						.__list-item(style="background-image: url('/img/дыра.jpg')")
							.__item-wrap
								.__item-title
									h2.sub_title Какие темы самые важные?
								.__item-action
									a.btn_link(href="/voit.html") Проголосовать
					.col-12.col-md-6
						.owl-carousel.block__slider
							-for(var i = 1; i <=5; i++)
								.__list-item(style="background-image: url('/img/дыра.jpg')")
									.__item-wrap
										.__item-title
											h3.sub_title название какой-то темы
										.__item-action
											a.btn_link(href="/theme_offer.html") предложить тему
					.col-12.col-md-6
						.__list-item(style="background-image: url('/img/дыра.jpg')")
							.__item-wrap
								.__item-title
									h3.sub_title Что такое МИНИМАКС?
								.__item-desc
									p короткон описание минимакса
									p можно в две строчки)
								.__item-action
									a.btn_link(href="/theme_offer.html") узнать подробнее

