extends layout/layout_inner.pug

block vars
	-
		var pageTitle = 'Новости';
		var pageType = 'news';

block aside

	.links.tags
		h3.sub_title Теги
		.tag
			a(href='/').btn_link
				| #наука (20)
		.tag
			a(href='/').btn_link
				| #черные дыры (20)
		.tag
			a(href='/').btn_link
				| #космос (20)
		.tag
			a(href='/').btn_link
				| #наука (20)
		.tag
			a(href='/').btn_link.all
				| все теги

	.links.uppercase
		h3.sub_title Архив новостей:
		.link
			i.fas.fa-caret-right
			a(href='/') Январь (10)
		.link
			i.fas.fa-caret-right
			a(href='/') Февраль (20)
		.link
			i.fas.fa-caret-right
			a(href='/') Март (15)
		.link
			i.fas.fa-caret-right
			a(href='/') Апрель (30)


block inner

	.news 
		h1.title Новости

		.row.news_header
			.col-12.col-lg-6.col-xl-7
				.news_item(style='background-image: url(/img/download_img.png)')
					a(href='/news_content.html').in
						.date 28.05.2019
						.title Как выглядит черная дыра?
						.text Формирует ли современная школьная программа мировоззрение человека?
			.col-12.col-lg-6.col-xl-5
				.news_last
					h2.sub_title последние новости
					- for (var x = 1; x <= 3; x++)
						.news_last-item
							.date 12.05.2019
							a(href='/news_content.html').sub_title заголовок новости
							.text Формирует ли современная школьная программа мировоззрение человека?


		.news_last.all
			- for (var x = 1; x <= 3; x++)
				.news_last-item
					.date 12.05.2019
					a(href='/news_content.html').sub_title В Крыму найдены самые древние ископаемые пещерные животные России
					.text Большая карстовая пещера была обнаружена в прошлом году в 15 км к востоку от Симферополя в ходе строительства в Крыму федеральной автомобильной трассы “Таврида”…

		.more.text-center
			a(href='/').btn_link показать ещё