extends layout/layout_inner.pug

block vars
	-
		var pageTitle = 'Текстовая страница';
		var pageType = 'news_content';

block aside
	.links
		.link
			i.fas.fa-caret-right
			a(href='/') Название страницы
		.link
			i.fas.fa-caret-right
			a(href='/') Название страницы
		.link
			i.fas.fa-caret-right
			a(href='/') Очень длинное название страницы
		.link
			i.fas.fa-caret-right
			a(href='/') Очень длинное название длинной страницы
		.link
			i.fas.fa-caret-right
			a(href='/') Название страницы
		.link
			i.fas.fa-caret-right
			a(href='/') Очень длинное название длинной страницы
		.link
			i.fas.fa-caret-right
			a(href='/')  Название страницы
		.link
			i.fas.fa-caret-right
			a(href='/') Очень длинное название страницы

block inner

	article
		h1.title 
			span.date 25.08.2019
			| Название текстовой страницы

		.img
			img(src='/img/Space_Galaxy_032891_.jpg')

		p.
			Получение первого изображения тени черной дыры чрезвычайно важно для научного сообщества, и сравнимо с детектированием гравитационных волн, заявил РИА Новости старший научный сотрудник Института космических исследований (ИКИ) РАН Олег Цупко.
		p.
			Ранее ученые международного проекта Event Horizon Telescope представили первое в истории изображение тени черной дыры. Она находится в галактике М87 скопления Девы, на расстоянии более 50 миллионов световых лет от Земли.
		p.
			По словам Цупко, сейчас считается, что в центре большинства галактик имеется сверхмассивная черная дыра массой в миллионы и даже в миллиарды масс Солнца. Находящийся далеко наблюдатель должен "видеть" такую дыру как темное пятно на небе (на фоне ярких источников). Это пятно и называется тенью черной дыры. В случае сверхмассивных черных дыр пятно видно на фоне света от вещества, находящегося в непосредственной близости от черной дыры.
		p.
			Ранее сообщалось, что гравитационные волны были зафиксированы в сентябре 2015 года двумя лазерно-интерферометрическими гравитационно-волновыми обсерваториями (LIGO) в США и аналогичной лабораторией в Италии. За вклад в изучение гравитационных волн американские ученые Рейнер Вайс, Барри Бэриш и Кип Торн получили Нобелевскую премию 2017 года по физике.

		.imgs 
			a(href='/img/s1200.jpg' data-fancybox="gallery" style='background-image: url(/img/s1200.jpg)')
				.overlay
					i.fas.fa-plus
				img(src='/img/s1200.jpg')
			a(href='/img/sci-fi-black-hole-4851.jpg' data-fancybox="gallery" style='background-image: url(/img/sci-fi-black-hole-4851.jpg)')
				.overlay
					i.fas.fa-plus
				img(src='/img/sci-fi-black-hole-4851.jpg')
			a(href='/img/дыра.jpg' data-fancybox="gallery" style='background-image: url(/img/дыра.jpg)')
				.overlay
					i.fas.fa-plus
				img(src='/img/дыра.jpg')

		.tags 
			h3.sub_title Теги:
			a(href='/').btn_link #космос (20)
			a(href='/').btn_link #черные дыры (20)
			a(href='/').btn_link #какой-то тэг
			a(href='/').btn_link #космос (20)
			a(href='/').btn_link #черные дыры (20)
			a(href='/').btn_link #какой-то тэг
			a(href='/').btn_link #космос (20)
			a(href='/').btn_link #черные дыры (20)
			a(href='/').btn_link #какой-то тэг
