extends layout/layout_inner.pug

block vars
	-
		var pageTitle = 'Опросы';
		var pageType = 'polls';

block inner

	.polls 
		h1.title 
			|Опросы
			.navs
				span сортировать по: 
				a(href='/').active популярности
				|  / 
				a(href='/') по дате публиикации
		.row
			-for(var i=1; i <=13; i++)
				.col-12.col-sm-6
					.poll_item(style="background-image: url('/img/60cffb92d03607c0ac4b33bd8687735a.jpg')")
						.poll_item-members.bg_green 127 участников
						.poll_item-date 27.06.2019
						.poll_item-title 
							a(href='/poll.html') Название какого-то опроса
						.poll_item-about Формирует ли современная школьная программа мировоззрение человека?

		.more.text-center
			a(href='/').btn_link.bg_blue показать ещё