extends layout/layout_inner.pug

block vars
	-
		var pageTitle = 'Результаты опроса';
		var pageType = 'poll_result';

block aside


block inner

	article 
		.poll_test_results
			h1.title Название опроса
			.image
				img(src='/img/icons/poll_results.jpg')
			h2.sub_title Спасибо за участие!
			.text
				p Какое-нибудь текст описания благодарности за участие в опросе
			h3.h3 поделиться опросом
			.share плагин-поделиться
			.result_action
				a(href='/polls.html').btn_link.bg_blue другой опрос

	.polls 
		.title 
			|другие опросы
		.row
			-for(var i=1; i <=3; i++)
				.col-12.col-sm-6.col-md-4
					.poll_item(style="background-image: url('/img/60cffb92d03607c0ac4b33bd8687735a.jpg')")
						.poll_item-members.bg_green 127 участников
						.poll_item-date 27.06.2019
						.poll_item-title 
							a(href='/poll.html') Название какого-то опроса
						.poll_item-about Формирует ли современная школьная программа мировоззрение человека?