extends layout/layout_inner.pug

block vars
	-
		var pageTitle = 'Опрос какой-то';
		var pageType = 'poll';

block aside


block inner

	article.test 
		.title Название опроса

		.test-about
			p Получение первого изображения тени черной дыры чрезвычайно важно для научного сообщества, и сравнимо с детектированием гравитационных волн, заявил РИА Новости старший научный сотрудник Института космических исследований (ИКИ) РАН Олег Цупко.

		.test-title Насколько большая вселенная по сравнению с самым маленьким атомом?

		.test__questions.poll
			-
				var polls = [
					{
						votedPers: "100%",
						votedCount: "1400",
						name: "Особые волоски, обладающие нервными окончаниями Особые волоски",
					},{
						votedPers: "50%",
						votedCount: "170",
						name: "Что-то из геометрии",
					},{
						votedPers: "30%",
						votedCount: "25",
						name: "Орган равновесия во внутреннем ухе",
					},
				];
			each poll in polls
				.test__questions-item.radiobox(style="background-image: linear-gradient(90deg, rgba(0, 135, 255, 1) " + poll.votedPers + ", rgba(255, 255, 255, 1) " + poll.votedPers + ");")
					label(style="background-image: linear-gradient(90deg, rgb(255, 255, 255) " + poll.votedPers + ", rgb(0, 0, 0) " + poll.votedPers + ")")
						input(type='radio' name='q2')
						span.cr
							i.cr-icon.fas.fa-check
						span.voted
							| Голосов: #{poll.votedCount}, #{poll.votedPers}
						| #{poll.name} 

			.test__questions-action
				button.btn_link.bg_gray_light.back назад
				button.btn_link.bg_orange.first начать сначала
				a(href='/poll_result.html').btn_link.bg_lime.next вперед

	.polls 
		.title 
			|другие опросы
		.row
			-for(var i=1; i <=3; i++)
				.col-12.col-sm-6.col-md-4
					.poll_item(style="background-image: url('/img/60cffb92d03607c0ac4b33bd8687735a.jpg')")
						.poll_item-members.bg_green 127 участников
						.poll_item-date 27.06.2019
						.poll_item-title 
							a(href='/poll.html') Название какого-то опроса
						.poll_item-about Формирует ли современная школьная программа мировоззрение человека?