doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title Управление квизами — админка
		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
		link(rel="stylesheet" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css")
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css")
		link(href="/fonts/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet")
		link(rel="stylesheet" href="/css/quize.css")
	body.quize
		main.container
			h1
				| Квизы
				br
			.row
				.col
					p
						button.btn.btn-primary.btn-addQuize(type="button" data-toggle="modal" data-target="#addQuize") Добавить тест/опрос
					table#quize_list.table.table-hover.table-bordered
						thead
							tr
								th ID
								th Название
								th Тип
								th Статистика
								th Действия
								th Статус
						tbody
							-for(var i = 1; i <= 3; i++)
								tr
									th ID
									th Название теста/опроса
									td тест/опрос
									td
										a.btn.btn-outline-info.btn-sm(href="#" role="button") посмотреть статистику
									td
										a.btn.btn-outline-primary.btn-sm(href="#" role="button") редактировать
										| &nbsp;
										a.btn.btn-outline-danger.btn-sm(href="#" role="button") удалить
									td
										span.badge.badge-light не активный
										span.badge.badge-primary активный

		form#addQuize.modal.fade(tabindex="-1" role="dialog")
			input(name="id" type="hidden")
			input(name="action" type="hidden" value="edit")
			.modal-dialog.modal-xl(role="document")
				.modal-content
					.modal-header
						h3.modal-title Добавление опроса/теста
						button.close(type="button" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") ×
					.modal-body
						.form-group.row
							label.col-sm-3.col-form-label(for="name") Название опроса/теста
							.col-sm-9
								input#name.form-control(name="pagetitle" type="text")
						.form-group.row
							label.col-sm-3.col-form-label Тип опроса/теста
							.col-sm-9
								.form-check-inline
									.custom-control.custom-radio
										input#typePoll.custom-control-input(type="radio" name="template" value="13")
										label.custom-control-label(for="typePoll") Опрос
								.form-check-inline
									.custom-control.custom-radio
										input#typeText.custom-control-input(type="radio" name="template" value="15")
										label.custom-control-label(for="typeText") Опрос
						.form-group.row
							label.col-sm-3.col-form-label Статус
							.col-sm-9
								.form-check-inline
									.custom-control.custom-radio
										input#statusTrue.custom-control-input(type="radio" name="published" value="1")
										label.custom-control-label(for="statusTrue") Активен
								.form-check-inline
									.custom-control.custom-radio
										input#statusFalse.custom-control-input(type="radio" name="published" value="0")
										label.custom-control-label(for="statusFalse") Не активен
						.form-group.row
							label.col-sm-3.col-form-label(for="picture") Изображение
							.col-sm-9
								.custom-file
									input#picture.custom-file-input(name="picture" type="file")
									label.custom-file-label(for="picture") выберите файл с изображением
						.form-group.headerQ
							hr
							h5
								label.col-form-label(for="message-text") Вопросы
						.form-group.QQ
							.card
								.card-header
									| вопрос
									button#MoveQUp.btn.btn-outline-dark.btn-sm
										i.fas.fa-chevron-up
									button#MoveQDown.btn.btn-outline-dark.btn-sm
										i.fas.fa-chevron-down
									button#RemQ.btn.btn-danger.btn-sm удалить
								.card-body
									.form-group.row.question
										label.col-sm-2.col-form-label.card-title(for="qName[0]") Текст вопроса
										.col-sm-10
											input.form-control(id="qName[0]" name="qName[0]" type="text")
									.form-group.row.desc
										label.col-sm-2(for="qDesc[0]") Пояснение
										.col-sm-10
											textarea.form-control(id="qDesc[0]" name="qDesc[0]" rows="3")
								ul.form-group.list-group.list-group-flush
									li.list-group-item.AA
										.row.align-items-center
											label.col-sm-2.col-form-label.drag(for="question[0][0]")
												button#MoveAUp.btn.btn-outline-dark.btn-sm
													i.fas.fa-chevron-up
												button#MoveADown.btn.btn-outline-dark.btn-sm
													i.fas.fa-chevron-down
												.btn.btn-outline-dark.btn-sm
													i.fas.fa-expand-arrows-alt
											.col
												|Вариант ответа
												br
												input.form-control(type="text" id="question[0][0]" name="question[0][0]")
											.col-sm-2
												.custom-control.custom-switch
													input.custom-control-input(type="radio" id="qTrue[0][0]" name="qTrue[0]" value="0")
													label.custom-control-label(for="qTrue[0][0]") правильный
											.col-sm-1
												button#RemA.btn.btn-danger.btn-sm удалить
									li.list-group-item.action
										button#AddAnswer.btn.btn-info.btn-sm Добавить ответ
						.form-group
							button#AddQ.btn.btn-primary.btn-sm Добавить вопрос
						.form-group
							hr
							h5
								label.col-form-label(for="message-text") Результаты
						.form-group.RR
							.card
								.card-header
									| результат
									button#RemR.btn.btn-danger.btn-sm удалить
								.card-body
									.form-group.row.align-items-center.inputfile
										.col-sm-6
											| Изображение
											.custom-file
												input.custom-file-input(name="resultImage[0]" type="file" id="resultImage[0]")
												label.custom-file-label(for="resultImage[0]") файл
									.form-group.row.align-items-center.inputtext
										label.col-sm-5.col-form-label(for="resultMin[0]") Минимальное количество правильных ответов для достижения результата
										.col-sm-2
											input.form-control(type="number" name="resultMin[0]" id="resultMin[0]")
									.form-group.textarea
										label(for="resultText[0]") Текст результата
										textarea.form-control(name="resultText[0]" rows="3" id="resultText[0]")
						.form-group
							button#AddResult.btn.btn-primary.btn-sm Добавить ещё результат
					.modal-footer
						button#CreateQuize.btn.btn-success(type="submit") Создать
						button.btn.btn-secondary(data-dismiss="modal") Отменить

	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
	script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
	script(src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js")
	script(src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js")
	script(src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js")
	script(src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js")
	script(src="/js/quize_ui.js")
	script(src="/js/quize_data.js")
