extends layout/layout_inner.pug

block vars
	-
		var pageTitle = 'Тест какой-то';
		var pageType = 'test';

block aside


block inner

	article.test 
		.title Название теста

		.test-about
			p Получение первого изображения тени черной дыры чрезвычайно важно для научного сообщества, и сравнимо с детектированием гравитационных волн, заявил РИА Новости старший научный сотрудник Института космических исследований (ИКИ) РАН Олег Цупко.

		.test-image(style="background-image: url('/img/60cffb92d03607c0ac4b33bd8687735a.jpg')")
			.test-title Насколько большая вселенная по сравнению с самым маленьким атомом?

		.test__questions
			-for(var i = 1; i <= 2; i++)
				.test__questions-item.radiobox
					label
						input(name='q2' type='radio')
						span.cr
							i.cr-icon.fas.fa-check
						| #{i} вариант ответа
				.test__questions-item.radiobox
					label.true
						input(name='q2' type='radio')
						span.cr
							i.cr-icon.fas.fa-check
						| #{i} вариант ответа
			-for(var i = 1; i <= 2; i++)
				.test__questions-item.radiobox
					label.false
						input(name='q2' type='radio')
						span.cr
							i.cr-icon.fas.fa-check
						| #{i} вариант ответа
			.test__questions-action
				button.btn_link.bg_gray_light.back назад
				button.btn_link.bg_orange.first начать сначала
				a(href='/test_result.html').btn_link.bg_lime.next вперед

	.tests 
		.title 
			|другие тесты
		.row
			-for(var i=1; i <=3; i++)
				.col-12.col-sm-6.col-md-4
					.test_item
						.test_item-members.bg_green 127 участников
						.test_item-image(style="background-image: url('/img/60cffb92d03607c0ac4b33bd8687735a.jpg')")
						.test_item-about
							.test_item-date 27.06.2019
							.test_item-title
								a(href='/test.html') Название какого-то теста
							.test_item-text Формирует ли современная школьная программа мировоззрение человека?