extends layout/layout_inner.pug

block vars
	-
		var pageTitle = 'Тема — предложение';
		var pageType = 'theme_offer';

block aside




block inner

	.themes
		.theme
			.theme__title(style="background-image: url('/img/60cffb92d03607c0ac4b33bd8687735a.jpg')")
				.theme__title-wrap
					.theme__title-title Название всенаучной темы
					.theme__title-about
						p Получение первого изображения тени черной дыры чрезвычайно важно для научного сообщества, и сравнимо с детектированием гравитационных волн, заявил РИА Новости старший научный сотрудник Института космических исследований (ИКИ) РАН Олег Цупко.
					.theme-tags
						a(href='/themes.html').btn_link.bg_blue какой-то тэг
						a(href='/themes.html').btn_link.bg_blue какой-то тэг
						a(href='/themes.html').btn_link.bg_blue какой-то тэг
			article.theme__about
				.theme__about-rating
					.theme__about-exp 
						i.fas.fa-star
						| Рейтинг экспертов:
						strong 55
					.theme__about-usr 
						i.fas.fa-user
						| Рейтинг пользователей:
						strong 65
				p Получение первого изображения тени черной дыры чрезвычайно важно для научного сообщества, и сравнимо с детектированием гравитационных волн, заявил РИА Новости старший научный сотрудник Института космических исследований (ИКИ) РАН Олег Цупко.
			.theme__more
				a(href='/themes.html').btn_link.bg_blue.all все темы
				a(href='/theme_offer.html').btn_link.bg_blue.next следующая тема

