extends layout/layout_inner.pug

block vars
	-
		var pageTitle = 'Темы';
		var pageType = 'themes';

block aside


block inner

	.themes
		h1.title 
			.text Всенаучные темы
			a.btn_link.bg_blue(href="theme_offer.html") предложить тему
		.theme__list
			-for (var x = 1; x <= 5; x++)
				.theme__list-item(data-collapse_more)
					.theme__list-image(style="background-image: url('/img/60cffb92d03607c0ac4b33bd8687735a.jpg')")
					.theme__list-title
						| Название какой-то всенаучной темы
					.theme__list-about
						.theme__list-subtitle
							a(href='/theme_offer.html') Название какой-то всенаучной темы
							.hide_more
						p Получение первого изображения тени черной дыры чрезвычайно важно для научного сообщества, и сравнимо с детектированием гравитационных волн, заявил РИА Новости старший научный сотрудник Института космических исследований (ИКИ) РАН Олег Цупко.
						.theme__list-tags
							a(href='/themes.html').btn_link.bg_blue какой-то тэг
							a(href='/themes.html').btn_link.bg_blue какой-то тэг
							a(href='/themes.html').btn_link.bg_blue какой-то тэг

		.more.text-center
			a(href='/').btn_link.bg_blue показать ещё

		.theme__offer
			.title Предложить тему
			form
				.field
					input(type='text' placeholder='Название темы')
				.field
					textarea(placeholder='Почему вы считаете, что эта тема нужна?' rows="6")
				.field
					button(type='submit').btn_link.bg_blue отправить предложение

