extends layout/layout_inner.pug

block vars
	-
		var pageTitle = 'Толмач — лучшие работы';
		var pageType = 'tolmach_best';
		var _inputArticles = [
			{name: 'Агностицизм', null: true, href:'https://ru.wikipedia.org/wiki/%D0%90%D0%B3%D0%BD%D0%BE%D1%81%D1%82%D0%B8%D1%86%D0%B8%D0%B7%D0%BC'},
			{name: 'Адреналин', href:'https://ru.wikipedia.org/wiki/%D0%90%D0%B4%D1%80%D0%B5%D0%BD%D0%B0%D0%BB%D0%B8%D0%BD'},
			{name: 'Аннигиляция', href:'https://ru.wikipedia.org/wiki/%D0%90%D0%BD%D0%BD%D0%B8%D0%B3%D0%B8%D0%BB%D1%8F%D1%86%D0%B8%D1%8F'},
			{name: 'Антибиотики', href:'https://ru.wikipedia.org/wiki/%D0%90%D0%BD%D1%82%D0%B8%D0%B1%D0%B8%D0%BE%D1%82%D0%B8%D0%BA%D0%B8'},
			{name: 'Блокчейн', null: true, href:'https://ru.wikipedia.org/wiki/%D0%91%D0%BB%D0%BE%D0%BA%D1%87%D0%B5%D0%B9%D0%BD'},
			{name: 'Бритва Оккама', href:'https://ru.wikipedia.org/wiki/%D0%91%D1%80%D0%B8%D1%82%D0%B2%D0%B0_%D0%9E%D0%BA%D0%BA%D0%B0%D0%BC%D0%B0'},
			{name: 'Валовой внутренний продукт', href:'https://ru.wikipedia.org/wiki/%D0%92%D0%B0%D0%BB%D0%BE%D0%B2%D0%BE%D0%B9_%D0%B2%D0%BD%D1%83%D1%82%D1%80%D0%B5%D0%BD%D0%BD%D0%B8%D0%B9_%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82'},
			{name: 'Глубокое обучение', href:'https://ru.wikipedia.org/wiki/%D0%93%D0%BB%D1%83%D0%B1%D0%BE%D0%BA%D0%BE%D0%B5_%D0%BE%D0%B1%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D0%B5'},
			{name: 'Гравитационная сингулярность', href:'https://ru.wikipedia.org/wiki/%D0%93%D1%80%D0%B0%D0%B2%D0%B8%D1%82%D0%B0%D1%86%D0%B8%D0%BE%D0%BD%D0%BD%D0%B0%D1%8F_%D1%81%D0%B8%D0%BD%D0%B3%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C'},
			{name: 'Графен', null: true, href:	'https://ru.wikipedia.org/wiki/%D0%93%D1%80%D0%B0%D1%84%D0%B5%D0%BD'},
			{name: 'Естественное право', href:'https://ru.wikipedia.org/wiki/%D0%95%D1%81%D1%82%D0%B5%D1%81%D1%82%D0%B2%D0%B5%D0%BD%D0%BD%D0%BE%D0%B5_%D0%BF%D1%80%D0%B0%D0%B2%D0%BE'},
			{name: 'Идеология', href:'https://ru.wikipedia.org/wiki/%D0%98%D0%B4%D0%B5%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F'},
			{name: 'Истина', null: true, href:'https://ru.wikipedia.org/wiki/%D0%98%D1%81%D1%82%D0%B8%D0%BD%D0%B0'},
			{name: 'Криптовалюта', href:'https://ru.wikipedia.org/wiki/%D0%9A%D1%80%D0%B8%D0%BF%D1%82%D0%BE%D0%B2%D0%B0%D0%BB%D1%8E%D1%82%D0%B0'},
			{name: 'Кротовая нора', href:'https://ru.wikipedia.org/wiki/%D0%9A%D1%80%D0%BE%D1%82%D0%BE%D0%B2%D0%B0%D1%8F_%D0%BD%D0%BE%D1%80%D0%B0'},
			{name: 'Ноосфера', null: true, href:'https://ru.wikipedia.org/wiki/%D0%9D%D0%BE%D0%BE%D1%81%D1%84%D0%B5%D1%80%D0%B0'},
			{name: 'Окситоцин', href:'https://ru.wikipedia.org/wiki/%D0%9E%D0%BA%D1%81%D0%B8%D1%82%D0%BE%D1%86%D0%B8%D0%BD'},
			{name: 'Онтология', href:'https://ru.wikipedia.org/wiki/%D0%9E%D0%BD%D1%82%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F'},
			{name: 'Прагматизм', href:'https://ru.wikipedia.org/wiki/%D0%9F%D1%80%D0%B0%D0%B3%D0%BC%D0%B0%D1%82%D0%B8%D0%B7%D0%BC'},
			{name: 'Принцип неопределенности', href:'https://ru.wikipedia.org/wiki/%D0%9F%D1%80%D0%B8%D0%BD%D1%86%D0%B8%D0%BF_%D0%BD%D0%B5%D0%BE%D0%BF%D1%80%D0%B5%D0%B4%D0%B5%D0%BB%D1%91%D0%BD%D0%BD%D0%BE%D1%81%D1%82%D0%B8'},
			{name: 'Свобода', href:	'https://ru.wikipedia.org/wiki/%D0%A1%D0%B2%D0%BE%D0%B1%D0%BE%D0%B4%D0%B0'},
			{name: 'Серотонин', href:'https://ru.wikipedia.org/wiki/%D0%A1%D0%B5%D1%80%D0%BE%D1%82%D0%BE%D0%BD%D0%B8%D0%BD'},
			{name: 'Синергетика', href:'https://ru.wikipedia.org/wiki/%D0%A1%D0%B8%D0%BD%D0%B5%D1%80%D0%B3%D0%B5%D1%82%D0%B8%D0%BA%D0%B0'},
			{name: 'Скорость света', href:'https://ru.wikipedia.org/wiki/%D0%A1%D0%BA%D0%BE%D1%80%D0%BE%D1%81%D1%82%D1%8C_%D1%81%D0%B2%D0%B5%D1%82%D0%B0'},
			{name: 'Совесть', href:'https://ru.wikipedia.org/wiki/%D0%A1%D0%BE%D0%B2%D0%B5%D1%81%D1%82%D1%8C'},
			{name: 'Солнцестояние', href:'https://ru.wikipedia.org/wiki/%D0%A1%D0%BE%D0%BB%D0%BD%D1%86%D0%B5%D1%81%D1%82%D0%BE%D1%8F%D0%BD%D0%B8%D0%B5'},
			{name: 'Социальная инженерия', href:'https://ru.wikipedia.org/wiki/%D0%A1%D0%BE%D1%86%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D0%B0%D1%8F_%D0%B8%D0%BD%D0%B6%D0%B5%D0%BD%D0%B5%D1%80%D0%B8%D1%8F'},
			{name: 'Фальсифицируемость', href:'https://ru.wikipedia.org/wiki/%D0%A4%D0%B0%D0%BB%D1%8C%D1%81%D0%B8%D1%84%D0%B8%D1%86%D0%B8%D1%80%D1%83%D0%B5%D0%BC%D0%BE%D1%81%D1%82%D1%8C'},
			{name: 'Харизма', href:'https://ru.wikipedia.org/wiki/%D0%A5%D0%B0%D1%80%D0%B8%D0%B7%D0%BC%D0%B0'},
			{name: 'Эндорфины', href:'https://ru.wikipedia.org/wiki/%D0%AD%D0%BD%D0%B4%D0%BE%D1%80%D1%84%D0%B8%D0%BD%D1%8B'},
		];


block inner

	section.tolmach

		article
			h1.title Лучшие конкурсные работы

			.article-about
				| Здесь собраны лучшие конкурсные работы, которые включены нашими экспертами в Шорт-лист конкурса “Толмач”. Для каждой статьи Википедии представлено несколько вариантов поясняющих врезок. Чтобы ознакомиться с ними, выберите из списка интересующую вас статью. 
			
			.tolmach_best
				each _item in _inputArticles
					.tolmach_best_item(class=(_item.null ? 'tolmach_best_item--empty' : ''))
						.tolmach_best_item-title
							|#{_item.name} 
							a(href=_item.href target='_blank') wiki
							if(!_item.null)
								span.tolmach_best_item-title--sub [3 работы]
						if(!_item.null)
							.tolmach_best_works
								-for(var i = 1; i <= 10; i ++)
									.tolmach_best_work
										.tolmach_best_work-num=i 
										.tolmach_best_work-title Название статьи.
										.tolmach_best_work-about
											p Поясняющая врезка к статье 
											p Поясняющая врезка к статье 
											p Поясняющая врезка к статье 
