extends layout/layout_inner.pug

block vars
	-
		var pageTitle = 'Толмач — Голос народа';
		var pageType = 'tolmach_golos_narod';


block inner

	section.tolmach

		article
			h1.title Народное голосование

			p
				| В номинации “Голос народа” 
				strong призами будут отмечены 3 лучшие врезки. 
				| У вас есть возможность повлиять на распределение мест.
			p 
				| Наши эксперты отобрали для участия в номинации “Голос народа” 10 конкурсных работ. 
				| Вам дается 
				strong ровно 3 лайка. 
				| Вы можете распределить их между этими работами по своему усмотрению. 
				strong Читайте тексты и голосуйте!
		
			form.tolmach_best
				-for(var i = 1; i <= 10; i ++)
					.tolmach_best_item.tolmach_best_item--golos
						.tolmach_best_item-title
							span.checkbox
								label
									input(name='article' type='checkbox')
									span.cr
										i.cr-icon.fas.fa-check
							span.tolmach_best_item-num=i
							| название лучшей работы
						.tolmach_best_works.tolmach_best_item-about
							p какое-то описание лучшей работы
							p какое-то описание лучшей работы
							p какое-то описание лучшей работы
				.field
					button(type='submit').btn_link.bg_blue завершить голосование

