extends layout/layout_inner.pug

block vars
	-
		var pageTitle = 'Толмач';
		var pageType = 'tolmach';
		var _inputArticles = [
			{name: 'Агностицизм', href:'https://ru.wikipedia.org/wiki/%D0%90%D0%B3%D0%BD%D0%BE%D1%81%D1%82%D0%B8%D1%86%D0%B8%D0%B7%D0%BC'},
			{name: 'Адреналин', href:'https://ru.wikipedia.org/wiki/%D0%90%D0%B4%D1%80%D0%B5%D0%BD%D0%B0%D0%BB%D0%B8%D0%BD'},
			{name: 'Аннигиляция', href:'https://ru.wikipedia.org/wiki/%D0%90%D0%BD%D0%BD%D0%B8%D0%B3%D0%B8%D0%BB%D1%8F%D1%86%D0%B8%D1%8F'},
			{name: 'Антибиотики', href:'https://ru.wikipedia.org/wiki/%D0%90%D0%BD%D1%82%D0%B8%D0%B1%D0%B8%D0%BE%D1%82%D0%B8%D0%BA%D0%B8'},
			{name: 'Блокчейн', href:'https://ru.wikipedia.org/wiki/%D0%91%D0%BB%D0%BE%D0%BA%D1%87%D0%B5%D0%B9%D0%BD'},
			{name: 'Бритва Оккама', href:'https://ru.wikipedia.org/wiki/%D0%91%D1%80%D0%B8%D1%82%D0%B2%D0%B0_%D0%9E%D0%BA%D0%BA%D0%B0%D0%BC%D0%B0'},
			{name: 'Валовой внутренний продукт', href:'https://ru.wikipedia.org/wiki/%D0%92%D0%B0%D0%BB%D0%BE%D0%B2%D0%BE%D0%B9_%D0%B2%D0%BD%D1%83%D1%82%D1%80%D0%B5%D0%BD%D0%BD%D0%B8%D0%B9_%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82'},
			{name: 'Глубокое обучение', href:'https://ru.wikipedia.org/wiki/%D0%93%D0%BB%D1%83%D0%B1%D0%BE%D0%BA%D0%BE%D0%B5_%D0%BE%D0%B1%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D0%B5'},
			{name: 'Гравитационная сингулярность', href:'https://ru.wikipedia.org/wiki/%D0%93%D1%80%D0%B0%D0%B2%D0%B8%D1%82%D0%B0%D1%86%D0%B8%D0%BE%D0%BD%D0%BD%D0%B0%D1%8F_%D1%81%D0%B8%D0%BD%D0%B3%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C'},
			{name: 'Графен', href:	'https://ru.wikipedia.org/wiki/%D0%93%D1%80%D0%B0%D1%84%D0%B5%D0%BD'},
			{name: 'Естественное право', href:'https://ru.wikipedia.org/wiki/%D0%95%D1%81%D1%82%D0%B5%D1%81%D1%82%D0%B2%D0%B5%D0%BD%D0%BD%D0%BE%D0%B5_%D0%BF%D1%80%D0%B0%D0%B2%D0%BE'},
			{name: 'Идеология', href:'https://ru.wikipedia.org/wiki/%D0%98%D0%B4%D0%B5%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F'},
			{name: 'Истина', href:'https://ru.wikipedia.org/wiki/%D0%98%D1%81%D1%82%D0%B8%D0%BD%D0%B0'},
			{name: 'Криптовалюта', href:'https://ru.wikipedia.org/wiki/%D0%9A%D1%80%D0%B8%D0%BF%D1%82%D0%BE%D0%B2%D0%B0%D0%BB%D1%8E%D1%82%D0%B0'},
			{name: 'Кротовая нора', href:'https://ru.wikipedia.org/wiki/%D0%9A%D1%80%D0%BE%D1%82%D0%BE%D0%B2%D0%B0%D1%8F_%D0%BD%D0%BE%D1%80%D0%B0'},
			{name: 'Ноосфера', href:'https://ru.wikipedia.org/wiki/%D0%9D%D0%BE%D0%BE%D1%81%D1%84%D0%B5%D1%80%D0%B0'},
			{name: 'Окситоцин', href:'https://ru.wikipedia.org/wiki/%D0%9E%D0%BA%D1%81%D0%B8%D1%82%D0%BE%D1%86%D0%B8%D0%BD'},
			{name: 'Онтология', href:'https://ru.wikipedia.org/wiki/%D0%9E%D0%BD%D1%82%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F'},
			{name: 'Прагматизм', href:'https://ru.wikipedia.org/wiki/%D0%9F%D1%80%D0%B0%D0%B3%D0%BC%D0%B0%D1%82%D0%B8%D0%B7%D0%BC'},
			{name: 'Принцип неопределенности', href:'https://ru.wikipedia.org/wiki/%D0%9F%D1%80%D0%B8%D0%BD%D1%86%D0%B8%D0%BF_%D0%BD%D0%B5%D0%BE%D0%BF%D1%80%D0%B5%D0%B4%D0%B5%D0%BB%D1%91%D0%BD%D0%BD%D0%BE%D1%81%D1%82%D0%B8'},
			{name: 'Свобода', href:	'https://ru.wikipedia.org/wiki/%D0%A1%D0%B2%D0%BE%D0%B1%D0%BE%D0%B4%D0%B0'},
			{name: 'Серотонин', href:'https://ru.wikipedia.org/wiki/%D0%A1%D0%B5%D1%80%D0%BE%D1%82%D0%BE%D0%BD%D0%B8%D0%BD'},
			{name: 'Синергетика', href:'https://ru.wikipedia.org/wiki/%D0%A1%D0%B8%D0%BD%D0%B5%D1%80%D0%B3%D0%B5%D1%82%D0%B8%D0%BA%D0%B0'},
			{name: 'Скорость света', href:'https://ru.wikipedia.org/wiki/%D0%A1%D0%BA%D0%BE%D1%80%D0%BE%D1%81%D1%82%D1%8C_%D1%81%D0%B2%D0%B5%D1%82%D0%B0'},
			{name: 'Совесть', href:'https://ru.wikipedia.org/wiki/%D0%A1%D0%BE%D0%B2%D0%B5%D1%81%D1%82%D1%8C'},
			{name: 'Солнцестояние', href:'https://ru.wikipedia.org/wiki/%D0%A1%D0%BE%D0%BB%D0%BD%D1%86%D0%B5%D1%81%D1%82%D0%BE%D1%8F%D0%BD%D0%B8%D0%B5'},
			{name: 'Социальная инженерия', href:'https://ru.wikipedia.org/wiki/%D0%A1%D0%BE%D1%86%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D0%B0%D1%8F_%D0%B8%D0%BD%D0%B6%D0%B5%D0%BD%D0%B5%D1%80%D0%B8%D1%8F'},
			{name: 'Фальсифицируемость', href:'https://ru.wikipedia.org/wiki/%D0%A4%D0%B0%D0%BB%D1%8C%D1%81%D0%B8%D1%84%D0%B8%D1%86%D0%B8%D1%80%D1%83%D0%B5%D0%BC%D0%BE%D1%81%D1%82%D1%8C'},
			{name: 'Харизма', href:'https://ru.wikipedia.org/wiki/%D0%A5%D0%B0%D1%80%D0%B8%D0%B7%D0%BC%D0%B0'},
			{name: 'Эндорфины', href:'https://ru.wikipedia.org/wiki/%D0%AD%D0%BD%D0%B4%D0%BE%D1%80%D1%84%D0%B8%D0%BD%D1%8B'},
		];


block inner

	section.tolmach

		article
			h1.title Экспертиза конкурсных работ

			.article-about
				p Конкурс «Толмач» нуждается в квалифицированных экспертах, способных оценить качество конкурсных работ. На первом этапе готовить рецензии не требуется. Эксперту достаточно ознакомиться с конкурсной работой (врезка для статьи в Википедии) и дать ей балльную оценку по двум критериям. Информация об экспертах конкурса “Толмач” публикуется в разделе “Эксперты Всенауки” на нашем сайте.
				p Пожалуйста, выберите несколько статей Википедии, по которым Вы готовы оценивать конкурсные работы. После этого координатор конкурса “Толмач” начнет присылать Вам на оценку работы участников конкурса — врезки-пояснения к выбранным Вами статьям.

			.tolmach_exp_articles
				button.btn_link.bg_lime.show_exp_articles Выбрать статьи

				form.tolmach_exp_art_list
					each _item in _inputArticles
						.field
							.checkbox
								label
									input(name='article' type='checkbox')
									span.cr
										i.cr-icon.fas.fa-check
									| #{_item.name} 
									a(href=_item.href target='_blank') wiki



		article

			h2.sub_title Конкусные работы

			.article_about
				<p> Конкурсные работы, направляемые Вам на экспертизу, отражаются в Таблице конкурсных работ (ниже). Пожалуйста, оцените по 5-балльной шкале каждую работу по двум комплексным критериям:</p>
				<ul><li><strong>Корректность.</strong> Насколько предлагаемая врезка научна и точна. Базируется ли она на авторитетных источниках. Не содержит ли фактических ошибок.</li>
				<li><strong>Доходчивость.</strong> Насколько хорошо раскрыт смысл понятия (теории, принципа, технологии). Насколько хорошо показана важность и сфера применения понятия (теории, принципа, технологии). Насколько понятна врезка неспециалистам.</li></ul>

			
			.comp_requests
				table.comp_requests_table
					tr.comp_request_header
						th Статья Wiki
						th № заявки
						th Ссылка на работу
						th Корректность
						th Доходчивость
					each _item in _inputArticles
						tr.comp_request_item
							td.comp_request_item-wiki_link
								a(href='/' target="_blank") #{_item.name} 
							td.comp_request_item-num 1234
							td.comp_request_item-about
								a(href='/' target="_blank") Статья на работу
							td
								.comp_request_item-ranger
									input(type="range" class="comp_request_item-slider" 
										data-type="single"
										data-min="1"
										data-max="5"
										data-from="1"
										data-step="1"
										)
							td
								.comp_request_item-ranger
									input(type="range" class="comp_request_item-slider" 
										data-type="single"
										data-min="1"
										data-max="5"
										data-from="1"
										data-step="1"
										)
										

		article
			h1.title О конкурсе

			p Это обычная текстовая страница с понятным описанием конкурса, номинаций, сроков и т.д. 
			p С нее есть ссылка на 
				a(data-toggle="#subtext").pseudo_link Положение 
				| (скрытый блок, разворот блока slideToggle, нужен текст) и кнопка “Подать заявку” с переходом на страницу “Подать заявку”.

			.article_subtext#subtext.collapse
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil eligendi expedita quae adipisci vitae quas obcaecati minima, doloremque voluptate illum totam quisquam aperiam. Pariatur labore dignissimos libero adipisci, nihil beatae.
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil eligendi expedita quae adipisci vitae quas obcaecati minima, doloremque voluptate illum totam quisquam aperiam. Pariatur labore dignissimos libero adipisci, nihil beatae.
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil eligendi expedita quae adipisci vitae quas obcaecati minima, doloremque voluptate illum totam quisquam aperiam. Pariatur labore dignissimos libero adipisci, nihil beatae.
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil eligendi expedita quae adipisci vitae quas obcaecati minima, doloremque voluptate illum totam quisquam aperiam. Pariatur labore dignissimos libero adipisci, nihil beatae.
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil eligendi expedita quae adipisci vitae quas obcaecati minima, doloremque voluptate illum totam quisquam aperiam. Pariatur labore dignissimos libero adipisci, nihil beatae.
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil eligendi expedita quae adipisci vitae quas obcaecati minima, doloremque voluptate illum totam quisquam aperiam. Pariatur labore dignissimos libero adipisci, nihil beatae.


			a(href='/').btn_link.bg_lime Подать заявку

			

		article
			h1.title Подать заявку

			blockquote
				i 
					strong Внимание!
					|  На нашем сайте проводится 
					strong конкурс на лучшую врезку.
					|  Конкурс на лучшую преамбулу и лучшую иллюстрацию проходит на сайте Викимедиа РУ (гиперссылка на страницу конкурса “Вики-Толмач”). Чтобы стать участником конкурса на лучшую врезку, подайте заявку по следующей форме.

			form
				.field
					label Выберите статью для конкурса
					each _item in _inputArticles
						.radiobox
							label
								input(name='article' type='radio')
								span.cr
									i.cr-icon.fas.fa-check
								| #{_item.name} 
								a(href=_item.href target='_blank') wiki

				.field 
					label Загрузите файл врезки в формате Word
						input(type='file' value='')

				.field
					label Ваше имя
						input(type='text' value='')

				.field
					label Ваш e-mail
						input(type='email' value='')
				.field
					label Ваш телефон
						input(type='tel' value='').mask_phone
					.help_text Чтобы мы могли оперативно связаться с вами в случае вашей победы

				.field
					label Отправляя настоящую заявку, я подтверждаю, что:
					p — я являюсь обладателем исключительных прав в отношении материала, представленного мной на конкурс “Толмач”;
					p — я на безотзывной основе предоставляю каждому право использовать этот материал на условиях лицензионного соглашения Creative Commons Attribution-ShareAlike 3.0.
					
				.field
					label Подтвердите отправку заявки
					button(type='submit').btn_link.bg_blue Подтверждаю
