extends layout/layout_clean.pug

block head
	link(href="/css/inner.css?v={VERSION_REPlACE}", rel='stylesheet')

	style
		| html,body {margin: 0;padding:0; background-color: white;}
		| main {margin: 0;padding:0;}

block scripts
	script(src='/js/voit.js?v={VERSION_REPlACE}')

block vars
	-
		var pageTitle = 'Голосования за тему';
		var pageType = 'poll_expert';

block inner
	-
		var voits = [
			{name: 'Детство'},
			{name: 'Вода'},
			{name: 'Жизнь и разум вне Земли'},
			{name: 'Неравенство'},
			{name: 'Мозг'},
			{name: 'Наука'},
		];

	.voiting
		.voiting-about.voiting-block.bg_gray
			.___about-title.bg_blue
				.__image
					img(src='/img/head_title_full.png')
				.__title
					p Открытое голосование
			.___about-desc
				.row
					.col-12.col-sm-6
						p
							strong 	Наша с вами цель – выявить «мини-набор макси-знаний». 
							br
							| Так мы называем самые важные темы, из которых формируется картина мира в голове современного человека. 


					.col-12.col-sm-6
						p Мы покажем вам 6 тем из 148 тем, предложенных нашими экспертами. 
							br
							strong Оцените их важность для понимания того, как устроен мир.
			.___about-action
				button.btn_link.bg_lime.btn_next Голосовать

		.voiting-questions.voiting-block.bg_gray
			.__q_wrap
				.__voiting_head
					.__head
						.bg0
							img(src='/img/head/0.png')
						.bgLoading
							img(src='/img/head/q.png')
						.bg
							img(src='/img/head/1.png')
						.bg
							img(src='/img/head/2.png')
						.bg
							img(src='/img/head/3.png')
					.__head-title Что важнее для понимания мира?  
					.__head-about Выберите не более трех тем. Нажмите «<i>i</i>», чтобы раскрыть тему.
					.__actions
						button.btn_link.bg_lime.btn_next подтвердить выбор
				.__questions
					each item in voits
						.__questions-item.checkbox
							.color
							label
								input(type='checkbox')
								|#{item.name}
							span.cr
								i.cr-icon i
							.more-info
								p ещё какое-то описание темы
								p ещё какое-то описание темы
								p ещё какое-то описание темы

		.voiting-result.voiting-blocks.bg_gray
			.__result_title 
				strong Спасибо! 
				| Посмотрите, как оценили эти темы другие участники голосования. 
				br
				| Чем важнее тема, тем выше ее место в общем списке из 148 тем.
				br
				| Выбранные вами темы выделены.

			.__result_wrap
				.__result_table-wrap
					.__result_table-wrap_line
						i.fas.fa-chevron-down
					.__result_table
						table
							thead
								tr
									th Место
									th Название темы
							tbody
								-for(var i = 1; i <= 2; i++)
									tr
										td 34
										td Название какой-то темы
										tr.bold
										td 34
										td Название какой-то темы
								-for(var i = 1; i <= 120; i++)
									tr
										td 34
										td Название какой-то темы

				.__result_about 

					.__result_action
						p 
							strong Хотите расширить этот список? 
								br
								| Проголосуйте еще раз.

						button.btn_link.bg_lime продолжить голосование


					.__result_action
						p Вы можете оценить сразу все 148 тем. Для этого зарегистрируйтесь на сайте «Всенаука» в качестве эксперта.
						button.btn_link.bg_blue стать экспертом

					.__result_share
						p поделиться голосованием
						.share плагин-поделиться

					.__result_embedd
						p разместить на сайте
						button.btn_link.bg_blue.embed_button разместить на сайте
						code 
							| код iframe-а
							<br/>
							| код iframe-а
							<br/>
							| код iframe-а
							<br/>
							| код iframe-а
