extends layout/layout.pug

block head
	link(href="/css/ion.rangeSlider.min.css", rel='stylesheet')
	link(href="/css/inner.css", rel='stylesheet')

block scripts
	script(src='/js/ion.rangeSlider.min.js')

block vars
	-
		var pageTitle = 'Голосования экпертов за тему';
		var pageType = 'poll_expert';


block content
	main.page_inner.container
		section.voiting_exp
			h1.h1 Голосование экспертов за темы
			.__wrap.container.voit--block.voiting--text
				.row
					.col-12
						h3.h3 УВАЖАЕМЫЙ ЭКСПЕРТ!

						p Благодарим Вас за то, что согласились вместе с нами решить сложную, но очень актуальную задачу – выявить «мини-набор макси-знаний». Так мы называем наиболее важные темы, из которых формируется картина мира в голове современного человека.
						p На первом этапе проекта мы опросили несколько десятков уважаемых специалистов в самых разных областях. По результатам этих интервью получился длинный список из 150 тем. Разумеется, список такой длины нельзя назвать «мини-набором макси знаний». Наша с Вами задача укоротить его, отобрав самые важные темы.
							br
							| Мы предлагаем Вам дать балльную оценку каждой из тем списка. Соединив Вашу оценку с оценками других уважаемых людей, мы выявим темы, которые, по мнению экспертов, наиболее важны для понимания того, как устроен человек и мир в целом.
						button.btn_link.prev Назад
						button.btn_link.bg_blue.next Заполнить анкету

			.__wrap.container.voit--block.voiting--anketa
				.row
					.col-12.col-lg-7
						h3.h3 АНКЕТА ЭКСПЕРТА

						p Для начала, пожалуйста, заполните небольшую анкету эксперта. 
						p Эти сведения понадобятся для правильной интерпретации результатов опроса.

						form
							.field
								label Фамилия, имя, отчество
									input(type='text' value='' disabled)
							.field
								label Электронная почта
									input(type='email' value='').disabled
							.field
								label Телефон
									input(type='tel' value='')
							.field
								label Пол
								.radiobox.sub_label
									label
										input(name='gender' type='radio')
										span.cr
											i.cr-icon.fas.fa-check
										| мужской
									label 
										input(name='gender' type='radio')
										span.cr
											i.cr-icon.fas.fa-check
										| женский
							.field
								label Год рождения
									input(type='text' value='')
							.field
								label Место проживания (страна, город) 
									input(type='text' value='')
							.field
								label Основное место работы и должность
									textarea(rows='4' disabled)
							.field
								label Образование
									.radiobox
										label
											input(name='edu' type='radio')
											span.cr
												i.cr-icon.fas.fa-check
											| Среднее, среднее специальное
										label 
											input(name='edu' type='radio')
											span.cr
												i.cr-icon.fas.fa-check
											| Незаконченное высшее
										label 
											input(name='edu' type='radio')
											span.cr
												i.cr-icon.fas.fa-check
											| Высшее
										label 
											input(name='edu' type='radio')
											span.cr
												i.cr-icon.fas.fa-check
											| Два высших, аспирантура
										label 
											input(name='edu' type='radio')
											span.cr
												i.cr-icon.fas.fa-check
											| Кандидат наук
										label 
											input(name='edu' type='radio')
											span.cr
												i.cr-icon.fas.fa-check
											| Доктор наук
							.field
								label Какое из направлений ближе всего к Вашей основной специализации?
									.checkbox
										label
											input(name='spec' type='checkbox')
											span.cr
												i.cr-icon.fas.fa-check
											| Точные науки
										label 
											input(name='spec' type='checkbox')
											span.cr
												i.cr-icon.fas.fa-check
											| Естественные науки
										label 
											input(name='spec' type='checkbox')
											span.cr
												i.cr-icon.fas.fa-check
											| Общественные науки 
										label 
											input(name='spec' type='checkbox')
											span.cr
												i.cr-icon.fas.fa-check
											| Гуманитарные науки
										label 
											input(name='spec' type='checkbox')
											span.cr
												i.cr-icon.fas.fa-check
											| Технические науки 
										label 
											input(name='spec' type='checkbox')
											span.cr
												i.cr-icon.fas.fa-check
											| Сельскохозяйственные науки
										label 
											input(name='spec' type='checkbox')
											span.cr
												i.cr-icon.fas.fa-check
											| Медицинские науки
										label 
											input(name='spec' type='checkbox')
											span.cr
												i.cr-icon.fas.fa-check
											| Другое 
											input(type='text' value='')
							.field
								label Отношение к научно-популярной информации 
									.radiobox
										label
											input(name='interes' type='radio')
											span.cr
												i.cr-icon.fas.fa-check
											| Не интересуюсь
										label 
											input(name='interes' type='radio')
											span.cr
												i.cr-icon.fas.fa-check
											| Интересуюсь время от времени
										label 
											input(name='interes' type='radio')
											span.cr
												i.cr-icon.fas.fa-check
											| Интересуюсь регулярно отдельными темами
										label 
											input(name='interes' type='radio')
											span.cr
												i.cr-icon.fas.fa-check
											| Интересуюсь регулярно разными темами
										label 
											input(name='interes' type='radio')
											span.cr
												i.cr-icon.fas.fa-check
											| Сам популяризатор науки

							.field
								label Можем ли мы сообщить о Вашем согласии выступить экспертом и опубликовать часть полученных от Вас сведений (исключая e-mail и телефон) на сайте «Всенаука»?
									.radiobox
										label
											input(name='interes' type='radio')
											span.cr
												i.cr-icon.fas.fa-check
											| Разрешаю
										label
											input(name='interes' type='radio')
											span.cr
												i.cr-icon.fas.fa-check
											| Не разрешаю
					
						button.btn_link.prev Назад
						button.btn_link.bg_blue.next Далее

			.__wrap.container.voit--block.voiting--instruction
				.row
					.col-12
						h3.h3 КАК ОЦЕНИВАТЬ ТЕМЫ?

						p ОБРАТИТЕ ВНИМАНИЕ! В этом голосовании для нас ценно Ваше мнение не как специалиста в конкретной области, а как человека широких взглядов. Если в какой-то теме Вы почувствуете себя недостаточно осведомленным – не беда. Просто оцените ее важность, как Вы это интуитивно чувствуете. В случае затруднений рекомендуем мысленный эксперимент. Представьте, что любознательный человек решил прослушать курс лекций, чтобы лучше разобраться в том, как устроен мир. Какие темы Вы бы в первую очередь включили в этот курс? Какие отложили бы на потом? Без каких обошлись бы вовсе? Смело ставьте свои оценки исходя из этих соображений.
						p Для выставления оценки возле каждой темы размещена шкала. Пожалуйста, передвиньте ползунок на то место шкалы, которое, на ваш взгляд, отражает важность темы. Крайняя левая точка – темой можно пренебречь. Крайняя правая — тему обязательно нужно оставить в «мини-наборе макси-знаний». Пока Вы не щелкнули по ползунку, тема считается неоцененной. 
						p Вы можете корректировать свои оценки до тех пор, пока не подтвердите, что они окончательные. Если Вы хотите сделать перерыв, у Вас будет возможность продолжить голосование позже, снова войдя в личный кабинет. 

						button.btn_link.bg_blue.prev Назад
						button.btn_link.bg_blue.next.goVoiting Голосовать

			.__wrap.container.voit--block.voiting--voit_exp
				.row
					.col-12.__sticky
						.text
							p Пожалуйста оцените, насколько каждая из этих тем важна для понимания того, как устроен человек и окружающий его мир.
							h2.h2 Какие темы считаете самыми актуальными?
						.__progress
							.__progress_bar
								.__bar(style="width: 50%;")
								span(style="background-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 50%, rgb(0, 0, 0) 50%)")
									| 50%
							.__action
								button.btn_link.bg_bluedim Неоцененные темы
								button.btn_link Cохранить
								button.btn_link Завершить

				.row.__voit_items.__sticky-stop_block
					-for(var i = 1; i <= 9; i++)
						.col-12.col-lg-6.__voit_item
							h2.h2
								| Название темы
								span.get-info
									i.fas.fa-info-circle
								.more-info
									p ещё какое-то описание темы
									p ещё какое-то описание темы
									p ещё какое-то описание темы
							p какое-то описание темы
							p какое-то описание темы
							p какое-то описание темы
							.ranger
								span.from 0
								span.to 10
								span.mid 5
								input(type="text" class="range-slider" 
									data-type="single"
									data-min="0"
									data-max="10"
									data-from="5.1"
									data-grid="false"
									data-hide-min-max="true"
									data-step="0.1"
									data-block="true"
									value="5.1"
									)
					-for(var i = 1; i <= 9; i++)
						.col-12.col-lg-6.__voit_item
							h2.h2 Название темы
							p какое-то описание темы
							p какое-то описание темы
							p какое-то описание темы
							.ranger
								span.from 0
								span.to 10
								span.mid 5
								input(type="text" class="range-slider" 
									data-type="single"
									data-min="0"
									data-max="10"
									data-from="5.1"
									data-grid="false"
									data-hide-min-max="true"
									data-step="0.1"
									value="5.1"
									)

