extends layout/layout.pug

block head
	link(href="/css/ion.rangeSlider.min.css", rel='stylesheet')
	link(href="/css/inner.css", rel='stylesheet')

block scripts
	script(src='/js/ion.rangeSlider.min.js')

block vars
	-
		var pageTitle = 'Голосования экпертов за тему';
		var pageType = 'poll_expert';


block content
	main.page_inner.container
		section.voiting_exp
			h1.h1 Голосование экспертов за темы
			.__wrap.container.voit--block.voiting--voit_exp(style='display: block;')
				.row
					.col-12.__sticky
						.text
							p Пожалуйста оцените, насколько каждая из этих тем важна для понимания того, как устроен человек и окружающий его мир.
							h2.h2 Какие темы считаете самыми актуальными?
						.__progress
							.__progress_bar
								.__bar(style="width: 50%;")
								span(style="background-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 50%, rgb(0, 0, 0) 50%)")
									| 50%
							.__action
								button.btn_link Cохранить
								button.btn_link Завершить
								button.btn_link.bg_bluedim Неоцененные темы
								button.btn_link Инструкция

				.row.__voit_items.__sticky-stop_block
					-for(var i = 1; i <= 9; i++)
						.col-12.col-lg-6.__voit_item
							h2.h2
								| Название темы
								span.get-info
									i.fas.fa-info-circle
								.more-info
									p ещё какое-то описание темы
									p ещё какое-то описание темы
									p ещё какое-то описание темы
							p какое-то описание темы
							p какое-то описание темы
							p какое-то описание темы
							.ranger
								span.from 0
								span.to 10
								span.mid 5
								input(type="text" class="range-slider" 
									data-type="single"
									data-min="0"
									data-max="10"
									data-from="5.1"
									data-grid="false"
									data-hide-min-max="true"
									data-step="0.1"
									data-block="true"
									value="5.1"
									)
					-for(var i = 1; i <= 9; i++)
						.col-12.col-lg-6.__voit_item
							h2.h2 Название темы
							p какое-то описание темы
							p какое-то описание темы
							p какое-то описание темы
							.ranger
								span.from 0
								span.to 10
								span.mid 5
								input(type="text" class="range-slider" 
									data-type="single"
									data-min="0"
									data-max="10"
									data-from="5.1"
									data-grid="false"
									data-hide-min-max="true"
									data-step="0.1"
									value="5.1"
									)

