footer
	.container
		.row
			.col-12.col-md-3.links
				p.footer-title Категории
				a(href='/') Наука
				a(href='/') Химия
				a(href='/') Физика
				a(href='/news.html') Новости
				a(href='/') Опросы
			.col-12.col-md-3.links
				p.footer-title О нас
				a(href='/') О нашем сервисе
				a(href='/') Правила и положения
				a(href='/') Контакты
			.col-12.col-md-6
				p.footer-title Подписка на наши обновления
				form
					.field
						input(type='text' value='')
						button(type='submit').btn_link.bg_blue Подписаться
					.field
						.checkbox
							label
								input(type='checkbox')
								span.cr
									i.cr-icon.fas.fa-check
								|Я принимаю условия 
								a пользовательского соглашения
								|и согласен на обработку персональных данных.

