block vars
	- var pageType = 'index';

-
	var pages = [
		{
			id: "index",
			href: "content.html",
			title: "о проекте",
			css: 'bg_bluedim'
		}, {
			id: "minimax",
			href: "articles.html",
			title: "минимакс",
			css: 'bg_blue'
		}, {
			id: "tolmach",
			href: "news.html",
			title: "толмач",
			css: 'bg_green'
		}, {
			id: "infoteka",
			href: "infoteka.html",
			title: "инфотека",
			css: 'bg_ochre'
		},
	];

header
	nav.container
		.nav__links
			a.nav__links-item.logo(href='/index1.html')
				img(src='/img/logo3_wht.png').wt
				img(src='/img/logo3_blck.png').bk
			.nav__links-item.buttons
				button.btn_link
					img(src='/img/search.svg')
				button.btn_link
					a(href='kabinet.html')
						img(src='/img/user.svg')
				.btn_social
					a.btn_link.bg_fb(href='fb.com', target='_blank')
						i.fab.fa-facebook-f
					a.btn_link.bg_vk(href='vk.com', target='_blank')
						i.fab.fa-vk
					a.btn_link.bg_yt(href='youtube.com', target='_blank')
						i.fas.fa-play
				button.hamburger.hamburger--stand(data-target='#nav_links', data-toggle='collapse', type='button')
					span.hamburger-box
						span.hamburger-inner
			#nav_links.nav__links-item.links
				each item in pages
					.nav__links-item.btnlink(class=item.css)
						a(
							href=item.href 
							class=(pageType === item.id) ? 'active' : ''
							)
							= item.title
						i.fas.fa-angle-down
						ul.submenu(class=item.css)
							-for(var i = 1; i <= 6; i++)
								li
									a(href="/") оченьдлинное название

