block vars
	- var pageTitle = '';

meta(charset='utf-8')
meta(name='robots', content='noindex, nofollow')
meta(name='viewport', content='width=380, initial-scale=1, shrink-to-fit=no')

title=pageTitle + ' — ВсеНаука'

link(rel="shortcut icon" href="/img/favicon_vsenauka.ico")

link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap-grid.min.css', rel='stylesheet')
link(href='https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic', rel='stylesheet')
link(href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', rel='stylesheet')
link(href='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css', rel='stylesheet')
link(href='/css/animate.min.css', rel='stylesheet')
link(href='/css/hamburgers.min.css', rel='stylesheet')
link(href='/css/owl.carousel.min.css', rel='stylesheet')
link(href='/css/owl.theme.default.min.css', rel='stylesheet')
link(href="/css/ion.rangeSlider.min.css", rel='stylesheet')
link(href="/css/base.css?v={VERSION_REPlACE}", rel='stylesheet')
link(href="/css/custom.css?v={VERSION_REPlACE}", rel='stylesheet')

block head