.page__index {
    margin-top: 69px;

    .section__title {
        background-color: $color-black;
        color: $color-white;

        .container {

            .row {
                align-items: center;
                height: 100%;
            }
        }

        .title {
            font-family: 'Montserrat';
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 700;
            color: $color-white;
            text-align: center;
            text-shadow: 0 0 5px #000;
            display: inline-block;

            @include min_width(768) {
                font-size: 28px;
            }

            @include min_width(992) {
                font-size: 44px;
            }

        }

        .text {
            font-family: 'Montserrat';
            font-size: 16px;
            font-weight: 300;
            text-align: center;
            display: none;

            @include min_width(768) {
                font-size: 22px;
            }
        }

        .section__title-logo {
            display: none;

            img {
                width: 100%;
            }

            @include min_width(768) {
                display: block;
                align-self: center;
            }
        }

        .section__title-buttons {
            font-weight: bold;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            margin-bottom: 30px;
            margin-top: 110px;

            .btnlinks {
                padding: 6px 0;
                border-radius: 6px;
                flex: 1;
                margin-right: 10px;
                font-size: 14px;

                &:last-child {
                    margin-right: 0;
                }

                @include min_width(576) {
                    padding: 6px 10px;
                    font-size: 1em;
                    border-radius: 6px;
                    flex: 1;
                    margin-right: 20px;
                }

                @include min_width(992) {
                    padding: 4px 10px;
                    font-size: 1.3em;
                }
            }

            @include min_width(768) {
                display: none;
            }

            display: none;
        }
    }

    .section__news {
        margin-top: 30px;

        article {
            min-height: 444px;
        }
    }

    .section__title-slider {

        .owl-dots {
            text-align: center;
            margin-top: 0 !important;
            position: absolute;
            margin-left: 50%;
            transform: translateX(-50%);
            bottom: 15px;

            .owl-dot {
                span {
                    opacity: 0.5;
                    background-color: #ffffff;
                }

                &.active {
                    span {
                        opacity: 1;
                    }
                }
            }
        }

        .owl-carousel {
            display: flex;
            flex-flow: row;
            align-items: center;
            display: flex;
            flex-flow: row;
            align-items: center;
            height: 300px;

            .owl-stage-outer,
            .owl-item,
            .owl-stage,
            .title_slider-item {
                display: flex;
                height: 100%;
                flex-flow: row;
                align-items: center;
            }
        }
    }

    .title_slider-item {
        width: 100%;
        position: relative;

        .container {
            position: relative;
            z-index: 10;
        }
    }

    .title_slider-item_img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-position: center center;
        background-size: cover;
    }

    @include min_width(768) {

        .section__title-slider {}
    }

    @include min_width(992) {

        .section__title-slider {
            .owl-carousel {
                height: 400px;
            }
        }
    }
}