.tests 
	.title 
		|другие тесты
	.row
		-for(var i=1; i <=3; i++)
			.col-12.col-sm-6.col-md-4
				.test_item
					.test_item-members.bg_green 127 участников
					.test_item-image(style="background-image: url('/img/60cffb92d03607c0ac4b33bd8687735a.jpg')")
					.test_item-about
						.test_item-date 27.06.2019
						.test_item-title
							a(href='/test.html') Название какого-то теста
						.test_item-text Формирует ли современная школьная программа мировоззрение человека?