doctype html
html(lang='ru')
	head
		include ../partial/head.pug

	body

		main
			block inner

		script(src='/js/jquery-3.4.1.min.js')
		script(src='/js/bootstrap.min.js')
		script(src='/js/owl.carousel.min.js')
		script(src='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js')
		script(src='/js/base.js?v={VERSION_REPlACE}')

		block scripts