extends layout.pug

block head
	link(href="/css/inner.css?v={VERSION_REPlACE}", rel='stylesheet')

	block styles


block content
	main.page_inner.container
		.row
			aside.col-12.col-md-4.col-lg-3
				.aside_nav
					block aside

			section.col-12.col-md-8.col-lg-9
				.breadcrumbs
					a(href='/') Хлебная крошка
					a(href='/') Хлебная крошка
					a(href='/') Хлебная крошка
				block inner