$font-face: "Montserrat",
sans-serif;

$font-awesome: "Font Awesome 5 Free";
$font-opensans: "Open Sans";
$font-azoft: "Azoft";

$color-black: #1E1E1E;

$color-bg: #eff8ff;

$color-blue: #02bdee;

$color-blue-dim: #3962fc;

$color-sky: #e3f2ff;

$color-white: #FFFFFF;

$color-orange: #FF6600;
$color-orange-light: #FF836F;

$color-red: #FF3333;

$color-ochre: #40e0b6;

$color-green: #8f69ff;
$color-lime: #18d6cc;

$color-violent: #9B1DFF;

$color-pink: #CC3399;

$color-gray: #666666;
$color-gray-light: #c6c6c6;
$color-gray-dim: #3f4549;

$color-vk: #4d76a1;
$color-fb: #3b5998;
$color-yt: #c4302b;


$color-poll-c1: #3962fc;
$color-poll-c2: #8f69ff;
$color-poll-c3: #02bdee;
$color-poll-c4: #00c7c3;
$color-poll-c5: #bd24d3;
$color-poll-c6: #FF836F;
$color-poll-c7: #18d6cc;