@import "reset";
@import "mixins";
@import "vars";
@import 'fonts';
@import "animations";
@import 'typograph';

@import 'partials/header';
@import 'partials/footer';
@import 'partials/body';

@import "pages/index";


main {
    overflow: hidden;
}

strong,
b {
    font-weight: bold;
}

.fixed {
    position: fixed;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.uppercase {
    text-transform: uppercase;
}

a {
    border: none;
    text-decoration: none;
    color: $color-blue;

    &:hover {}
}

.btnlinks {
    color: $color-white;
    border-radius: 4px;
    text-align: center;
    padding: 14px 26px;
    display: inline-block;
    position: relative;
}

.label {
    border-radius: 4px;
    color: $color-white;
    padding: 4px 10px;
    display: inline-block;
    background-color: inherit;
    font-weight: bold;
}

.bg_orange {
    background-color: $color-orange !important;
}

.bg_ochre {
    background-color: $color-ochre !important;
}

.bg_blue {
    background-color: $color-blue !important;
}

.color-minimaks {
    color: $color-blue;
}

.bg_bluedim {
    background-color: $color-blue-dim !important;
}

.bg_green {
    background-color: $color-green !important;
}

.color-tolmach {
    color: $color-green !important;
}

.bg_violent {
    background-color: $color-violent !important;
}

.bg_pink {
    background-color: $color-pink !important;
}

.bg_sky {
    background-color: $color-sky !important;
}

.bg_gray {
    background-color: $color-gray;
}

.bg_gray_light {
    background-color: $color-gray-light !important;
}

.bg_lime {
    background-color: $color-lime !important;
}

.bg_red {
    background-color: $color-red !important;
}

.bg_fluid {
    position: relative;

    &:before,
    &:after {
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        width: 200%;
        background-color: inherit;
        z-index: -1;
    }

    &:before {
        left: -100%;
    }

    &:after {
        right: -100%;
    }
}

.bg_trans {
    background-color: transparent !important;
}

.bg_fb {
    background-color: $color-fb !important;
}

.bg_vk {
    background-color: $color-vk !important;
}

.bg_yt {
    background-color: $color-yt !important;
}

input {
    padding: 18px 20px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.14);
    border: none;
}

input[type=submit],
input[type=button],
button {
    color: inherit;
    text-transform: uppercase;
    border-radius: 4px;
    transition: all .3s ease-in;
    text-align: center;
    font-weight: bold;
    position: relative;
    border: none;
    padding: 18px 20px;
    cursor: pointer;
    background-color: $color-blue;
    color: $color-white;
    font-family: "azoft";

    &:hover {
        background-color: rgba($color-blue, .8);
        box-shadow: 0 1px 3px 0 rgba($color-black, .3);
    }
}

form {
    margin-top: 30px;
    font-family: "Open Sans";

    label {
        font-size: 12px;

        +.checkbox,
        +.radiobox {
            margin-top: .5em;
        }
    }

    .field,
    .form-group {
        margin-top: 20px;


        &.first-child {
            margin-top: 0;
        }

        label {
            display: block;
            font-size: 16px;
            font-weight: 300;

            label {
                margin-top: 8px;
                margin-left: 20px;
                font-family: $font-face;
                font-size: 14px;
                font-weight: 400;
            }

            &.inline {
                label {
                    display: inline-block;
                }
            }

            input,
            textarea {
                display: block;
                margin-top: 5px;
            }
        }

        input,
        textarea {
            padding: 10px;
            border-radius: 6px;
            background-color: #ffffff;
            border: none;
            font-size: 14px;
            color: #2f2f2f;
            border: 1px solid $color-gray-light;
            width: 100%;

            @include min_width(768) {
                font-size: 16px;
            }
        }

        button,
        .btn_link {
            width: auto;
            flex: none;
            margin: auto;
            border-radius: 6px;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
            font-size: 16px;
        }

        .radiobox label,
        .checkbox label {
            padding-left: 20px;
        }

        .radiobox .cr,
        .radiobox .radio .cr,
        .checkbox .cr,
        .checkbox .radio .cr {
            border: 1px solid $color-gray-light;

            .cr-icon {
                top: 0;
                left: 0;
            }
        }

        .radiobox .cr,
        .radiobox .radio .cr {
            border-radius: 50%;
        }

        .help_text {
            color: $color-gray;
            font-size: .8em;
            margin-top: 4px;
        }

    }
}

.btn_link,
button,
input,
textarea {

    &:disabled,
    &.disabled {
        opacity: .5;
        pointer-events: none;
    }
}

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.radiobox,
.checkbox {

    .cr,
    .radio .cr {
        position: absolute;
        left: 0;
        top: 0;
        display: inline-block;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.14);
        width: 16px;
        height: 16px;
        transition-property: background, border;
        transition-timing-function: ease;
        transition-duration: .3s;
    }

    .radio .cr {
        border-radius: 50%;
    }

    .cr .cr-icon {
        position: absolute;
        font-size: inherit;
        top: 2px;
        vertical-align: baseline;
        left: 2px;
        color: #fff;
        background-color: none;
    }

    .radio .cr .cr-icon {
        margin-left: 0.04em;
    }


    label {
        position: relative;
        padding-left: 30px;
        display: inline-block;
    }

    label input[type="checkbox"],
    label input[type="radio"] {
        display: none;
    }

    label input[type="checkbox"]+.cr>.cr-icon,
    label input[type="radio"]+.cr>.cr-icon {
        transform: scale(3) rotateZ(-20deg);
        opacity: 0;
        transition: all .3s ease-in;
    }

    label input[type="checkbox"]:checked+.cr>.cr-icon,
    label input[type="radio"]:checked+.cr>.cr-icon {
        transform: scale(1) rotateZ(0deg);
        opacity: 1;
    }

    label input[type="checkbox"]:checked+.cr,
    label input[type="radio"]:checked+.cr {
        background-color: black;
        border-color: transparent;
    }

    label input[type="checkbox"]:disabled+.cr,
    label input[type="radio"]:disabled+.cr {
        opacity: .5;
    }
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.section__news {
    .section__news-news {
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 15px;
        position: relative;
        border-radius: 6px;
        box-shadow: 0 1px 3px 0 rgba($color-black, .3);
        overflow: hidden;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 444px;

        &:before {
            background-image: linear-gradient(to bottom, rgba($color-black, 0), rgba($color-black, 0.64));
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }

        a,
        .link {
            color: inherit;
        }

        h3,
        .title {
            font-size: 18px;
            letter-spacing: -0.1px;
            font-weight: bold;
            margin-bottom: 12px;

            @include min_width(992) {
                font-size: 22px;
            }
        }

        p,
        .text {
            font-family: "Montserrat";
            font-size: 16px;
        }

        &[class*=bg_] {
            color: $color-white;
        }

        .section__news-image {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 70%;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }

        .section__news-label {
            font-family: "azoft";
            border-radius: 4px;
            position: absolute;
            background-color: inherit;
            top: 15px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 3;

            &.left {
                left: 15px;
                transform: none;
            }
        }

        .section__news-desc {
            background-color: inherit;
            color: inherit;
            left: 0;
            bottom: 0;
            position: absolute;
            width: 100%;
            padding: 20px;
            border-radius: 0 0 6px 6px;
            z-index: 2;
            min-height: 160px;
            padding-bottom: 60px;

            &.fill {
                top: 0;
                left: 0;
                text-align: center;
                transform: none;
                bottom: 0;
                display: flex;
                align-items: center;
            }

            .section__news-label {
                top: -36px;
            }

            p {
                margin-bottom: .5em;
                font-weight: 500;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            @include min_width(768) {
                min-height: 190px;
            }

            @include min_width(992) {
                min-height: 200px;
            }
        }

        .section__news-more {
            font-family: "azoft";
            bottom: 0;
            left: 0;
            position: absolute;
            width: 100%;
            padding: 20px;
            z-index: 4;
            font-size: 14px;

            .views {
                margin-right: 16px;
                display: none;
            }

            .comments {
                display: none;
            }

            .more {
                float: right;
                font-weight: bold;
                font-size: 16px;

                &:after {
                    content: '\f30b';
                    font-family: 'Font Awesome 5 Free';
                    display: inline-block;
                    margin-left: 10px;
                }
            }
        }

        &.expert {
            .section__news-desc {

                padding-top: 30px;
            }
        }

    }

    .bg_fluid {

        .section__news-news {

            &:before,
            &:after {
                display: none;
            }

            .section__news-content {

                .section__news-label {
                    color: $color-white;
                }

                .section__news-desc {
                    padding-bottom: 60px;

                    h3,
                    .title {
                        margin-bottom: 10px;
                    }
                }

                .section__news-more {
                    margin-top: 30px;

                    .more {}
                }
            }

            .section__news-image {
                border-radius: 0;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                min-height: 320px;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                margin-bottom: 20px;
                width: 100%;
            }

            @include min_width(768) {
                display: flex;
                flex-wrap: wrap;
                border-radius: 0;
                border: none;
                box-shadow: none;
                padding: 0;
                color: $color-black;

                .section__news-image {
                    margin-bottom: 0;
                    flex: 5.95;
                    order: 2;
                    position: relative;
                    height: auto;
                }

                .section__news-content {
                    padding-right: 30px;
                    flex: 2.85;
                    order: 1;
                    border-radius: 0;
                    align-self: center;

                    .section__news-label,
                    .section__news-desc,
                    .section__news-more {
                        position: relative;
                        top: 0;
                        left: 0;
                        transform: none;
                        padding: 0;
                        font-weight: 400;
                    }


                    .section__news-desc {
                        padding-bottom: 0;
                        margin-top: 20px;
                    }

                    .section__news-more {

                        .more {
                            margin-top: 10px;
                            float: none;
                            color: $color-blue;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

.block__slider {
    position: relative;

    .owl-nav {
        position: absolute;
        top: 50%;
        width: 100%;
        color: white;
        font-size: 24px;

        .owl-prev,
        .owl-next {
            position: absolute;
            top: 0;
        }

        .owl-prev {
            left: 10px;
        }

        .owl-next {
            right: 10px;
        }
    }
}

.bold {
    font-weight: bold;
}

.__sticky {
    background-color: $color-white;

    &.__sticky-fixed {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1100;
    }
}


.collapse {
    display: none;

    &.in {
        display: block;
    }
}


.pseudo_link {
    color: $color-blue-dim;
    border-bottom: 1px dashed rgba($color-blue-dim, .3);
    cursor: pointer;

    &:hover {
        border-color: rgba($color-blue-dim, .6);
    }
}