@import "mixins";
@import "vars";
@import 'fonts';

body {
    margin-top: 80px;

    @include min_width(768) {
        margin-top: 100px;
    }
}

header {
    padding-top: 16px;
    padding-bottom: 16px;

    nav {}

    .nav__links {
        width: 100%;

    }

    .nav__links-item {
        &.logo {
            display: inline-block;

            img {
                display: none;

                &.bk {
                    display: block;
                }
            }

            span {
                display: inline-block;
            }
        }
    }

    &.fixed {

        nav {

            .nav__links {

                .nav__links-item {
                    &.logo {
                        flex: 1;
                    }

                    &.buttons {
                        flex: 1;
                    }
                }
            }
        }

        @include min_width(992) {
            nav {

                .nav__links {
                    .nav__links-item {
                        &.logo {
                            flex: 2;
                        }

                        &.buttons {
                            flex: 1.5;
                        }

                        &.links {
                            flex: 4.3;
                        }
                    }
                }
            }
        }
    }
}

footer {
    @include min_width(768) {
        text-align: left;
        margin-top: 30px;
    }
}

.btn_link {
    border-radius: 4px;
    border: solid 1px rgba($color-black, 0.1);
    display: inline-block;
    padding: 0 30px;
    line-height: 40px;
    font-weight: 500;
    transition: all .3s ease;
    color: white;
    width: auto;
    cursor: pointer;
    font-family: "azoft";
    text-transform: uppercase;
    font-size: 14px;

    &:hover {
        border-color: $color-white;
        color: $color-white;
        box-shadow: 0 1px 3px 0 rgba(30, 30, 30, 0.3);
    }
}

main {
    padding: 0 0 30px;

    a {
        transition: all .3s ease;
        color: $color-blue;
        border-color: transparent;

        &:hover {
            border-color: rgba($color-blue-dim, .6);
            color: $color-blue-dim;
        }
    }

    form {
        .field {

            &:first-child {
                margin-top: 0;
            }

            label {

                display: block;
                font-size: 16px;
                font-weight: 600;

            }

            .sub_label {
                label {
                    margin-top: 8px;
                    margin-left: 20px;
                    font-family: $font-face;
                    font-size: 14px;
                    font-weight: 400;
                }

                &.inline {
                    label {
                        display: inline-block;
                    }
                }

                input[type=text],
                textarea {
                    display: block;
                    margin-top: 5px;
                }
            }

            input,
            textarea {
                padding: 10px;
                border-radius: 6px;
                background-color: #ffffff;
                border: none;
                font-size: 14px;
                color: #2f2f2f;
                border: 1px solid $color-gray-light;
                width: 100%;

                @include min_width(768) {
                    font-size: 16px;
                }
            }

            button,
            .btn_link {
                width: auto;
                flex: none;
                margin: auto;
                border-radius: 6px;
                box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
                font-size: 16px;
            }

            .radiobox,
            .checkbox {
                margin-bottom: .7em;
                margin-top: .5em;
            }

            .radiobox label,
            .checkbox label {
                padding-left: 20px;
                font-weight: 400;
            }

            .radiobox .cr,
            .radiobox .radio .cr,
            .checkbox .cr,
            .checkbox .radio .cr {
                border: 1px solid $color-gray-light;
                top: 3px;

                .cr-icon {
                    top: 0;
                    left: 0;
                }
            }

            .radiobox .cr,
            .radiobox .radio .cr {
                border-radius: 50%;
            }

            button[type=submit] {
                margin-top: 6px;
            }
        }
    }

    aside {
        order: 2;
        margin-top: 50px;

        .aside_nav {
            overflow: hidden;

            .links {
                margin-bottom: 35px;

                .link {
                    margin-bottom: 16px;
                    padding-left: 12px;

                    &.active {
                        a {
                            border-bottom: 1px solid rgba($color-black, .6);
                        }
                    }

                    i {
                        margin-right: 6px;
                        color: $color-blue;
                        margin-left: -11px;
                    }

                    a {
                        color: inherit;
                        border-bottom: 1px solid rgba($color-black, 0);
                        margin-left: -2px;

                        &:hover {
                            border-bottom: 1px solid rgba($color-black, .3);
                        }
                    }
                }

                @include min_width(540) {
                    float: left;
                }

                @include min_width(786) {
                    width: 100%;
                }
            }

            .sub_title {
                font-family: 'Azoft';
                font-size: 18px;
                margin-bottom: 20px;
                margin-top: 35px;

                &:first-child {
                    margin-top: 0;
                }
            }

            .tags {
                .tag {
                    margin-bottom: 10px;

                    &.active {
                        .btn_link {
                            background-color: $color-blue;
                            color: $color-white;
                            border-color: transparent;
                        }
                    }

                    .btn_link {
                        display: inline-block;
                        padding: 0 10px;
                        line-height: 30px;
                        color: $color-gray;
                        font-weight: 400;

                        &:hover {
                            background-color: $color-blue;
                            color: $color-white;
                            border-color: transparent;
                        }

                        &.all {
                            background-color: $color-blue;
                            color: $color-white;
                            line-height: 44px;
                            font-size: 12px;
                            text-transform: lowercase;
                            padding: 0 34px;
                            border: none;
                            margin-top: 10px;

                            &:hover {
                                box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
                            }

                        }
                    }
                }
            }

            .blocks {
                .item {
                    text-align: center;
                    border-radius: 6px;
                    box-shadow: 0 1px 3px 0 rgba($color-black, 0.3);
                    color: $color-white;
                    min-height: 215px;
                    padding: 20px;
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 30px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &.aside_slider {
                        display: block;
                        min-height: unset;
                        padding: 0;
                        overflow: hidden;

                        .owl_item {
                            height: 100%;
                            min-height: 215px;
                            background-position: center center;
                            background-size: cover;
                            display: flex;
                            flex-wrap: wrap;
                            align-content: center;
                            padding: 20px;
                            position: relative;
                            font-weight: bold;

                            &:before {
                                background-color: rgba($color-black, .4);
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                            }

                            .in {
                                position: relative;
                                width: 100%;
                            }
                        }

                        .owl-dots,
                        .owl-nav {
                            margin-top: -30px;

                        }

                        .owl-dots .owl-dot span {
                            background-color: rgba(214, 214, 214, .5);
                        }

                        .owl-dots .owl-dot.active span,
                        .owl-dots .owl-dot:hover span {
                            background-color: rgba(214, 214, 214, 1);
                        }
                    }

                    a {
                        color: $color-white;
                        border-color: $color-white;
                    }

                    .text {
                        flex: 100%;
                        font-size: 16px;
                        font-weight: bold;
                        align-self: flex-end;
                    }

                    .more {
                        flex: 100%;
                        align-self: flex-end;
                    }

                }
            }
        }

        @include min_width(768) {
            margin-top: 0;
            order: 1;
        }

        .imho_slider {
            .owl-dots {
                .owl-dot {
                    span {
                        background-color: $color-black;
                        opacity: .3;
                    }

                    &.active,
                    &:hover {
                        span {
                            background-color: $color-black;
                            opacity: 1;
                        }
                    }
                }
            }

            .slider-item {

                .text {
                    position: relative;
                    padding: 16px;
                    background-color: $color-white;
                    margin-bottom: 30px;
                    border-radius: 4px;

                    &:after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        width: 0;
                        height: 0;
                        border: 18px solid transparent;
                        border-top-color: $color-white;
                        border-bottom: 0;
                        border-left: 0;
                        margin-left: -9px;
                        margin-bottom: -18px;
                    }
                }

                .ava {
                    overflow: hidden;
                    float: left;
                    margin-right: 10px;
                    border-radius: 6px;

                    img {
                        width: 70px;
                        height: auto;
                    }
                }

                .name {
                    font-size: 18px;
                    font-weight: 600;
                    margin-bottom: 6px;
                }

                .info {
                    font-size: 14px;
                    font-weight: normal;
                }


            }
        }

        .aside_title {
            text-transform: uppercase;
            margin-bottom: 20px;
            margin-top: 40px;
            font-family: 'Azoft';
            letter-spacing: 1.8px;

            &:first-child {
                margin-top: 0;
            }
        }

        .news {
            .news_last {
                .news_last-item {
                    .sub_title {
                        margin-top: 0;
                        margin-bottom: 10px;
                        font-size: 16px;
                    }
                }
            }
        }
    }

    section {
        order: 1;

        .breadcrumbs {
            margin-bottom: 20px;

            a {
                display: inline-block;
                margin-right: 12px;
                position: relative;
                border-bottom: 1px solid rgba($color-blue, .3);
                line-height: 1;

                &:after {
                    position: absolute;
                    right: -9px;
                    top: 0;
                    content: '/';
                    color: $color-black;
                }

                &:last-child {
                    margin-right: 0;

                    &:after {
                        display: none;
                    }
                }

                &:hover {
                    border-color: rgba($color-blue, .6);
                    color: $color-blue;
                }
            }

            @include min_width(768) {
                margin-bottom: 30px;
            }
        }

        h1 {
            font-size: 24px;
            text-transform: uppercase;

            .navs {
                text-transform: initial;
                line-height: 24px;
            }
        }

        @include min_width(768) {
            order: 2;
        }
    }

    article {
        padding: 20px;
        background-color: $color-white;
        border-radius: 6px;
        margin-bottom: 30px;
        font-family: "Open Sans";
        margin-bottom: 30px;
        font-weight: 400;
        letter-spacing: -0.4px;
        color: #1e1e1e;
        line-height: 1.4;
        font-size: 16px;

        .title {
            padding-bottom: 20px;
            border-bottom: 1px solid rgba($color-black, .1);
            margin-bottom: 30px;
            font-family: $font-face;

            .date {
                color: $color-blue;
                display: block;
                margin-right: 6px;
                font-weight: 400;
                font-size: 16px;

                @include min_width(768) {
                    display: inline-block;
                    font-size: inherit;

                    &:after {
                        content: '/';
                        margin-left: 6px;
                        color: $color-black;
                        font-weight: 700;
                    }
                }
            }

            .navs {
                font-weight: normal;
                margin-top: 6px;

                .btn_link {
                    line-height: 2;
                }

                @include min_width(992) {
                    margin-top: 0;
                    display: inline-block;
                    float: right;
                }
            }
        }

        .sub_title {
            margin-bottom: 15px;
        }


        img {
            border-radius: 6px;
            margin: 0 10px 10px 0;
            float: left;
            height: auto;
            width: auto;
            max-width: 100%;

            @include min_width(768) {
                width: unset;
            }
        }

        .img {
            img {
                border-radius: 6px;
                margin: 0 10px 30px 0;
                float: left;
                width: 100%;
            }
        }

        p {
            margin-bottom: 1em;

            &:last-child {
                margin-bottom: 0;
                ;
            }
        }

        h2 {
            margin-bottom: 20px;
            margin-top: 40px;

            &:first-child {
                margin-top: 0;
            }
        }

        .imgs {
            a {
                margin-right: 30px;
                height: 200px;
                width: 100%;
                margin-bottom: 15px;
                display: inline-block;
                background-size: cover;
                background-position: center center;
                border-radius: 6px;
                position: relative;
                overflow: hidden;

                .overlay {
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba($color-blue, 0.5);
                    transition: opacity .3s ease;
                    color: $color-white;

                    i {
                        position: relative;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 25px;
                        height: 40px;
                        line-height: 35px;
                        width: 40px;
                        text-align: center;
                        display: block;
                        border-radius: 50%;
                        border: 3px solid white;
                    }
                }

                &:hover {

                    .overlay {
                        opacity: 1;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                    margin-right: 0;
                }
            }

            img {
                margin: 0;
                display: none;
            }

            @include min_width(786) {

                a {
                    flex: 1;
                    height: 127px;
                    margin-bottom: 0;
                }

                display: flex;
                flex-wrap: wrap;
            }
        }

        .tags {
            margin-top: 30px;
            font-family: "Azoft";
            padding-top: 20px;
            border-top: 1px solid rgba($color-black, .1);

            .sub_title {
                display: inline-block;
                margin-top: 10px;
                margin-right: 20px;
                letter-spacing: 1.8px;
                margin-bottom: 0;
                font-family: 'azoft';
            }

            .btn_link {
                margin-right: 20px;
                margin-top: 10px;
                line-height: 30px;
                padding: 0 10px;
                color: $color-gray;
                font-weight: 300;
                font-size: 14px;
                letter-spacing: 0.4px;

                &:hover {
                    background-color: $color-blue;
                    color: $color-white;
                    border-color: transparent;
                }
            }
        }

        ul,
        ol {
            padding-left: 30px;
            margin-bottom: 25px;
        }

    }

    .article {
        .title {
            padding-bottom: 20px;
            border-bottom: 1px solid rgba($color-black, .1);
            margin-bottom: 30px;
            font-family: $font-face;
        }

        .sub_title {
            margin-bottom: 15px;
        }

        &-about {
            font-weight: 400;
            margin-top: 15px;

            p {
                margin-bottom: .5em;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            ol,
            ul {

                li {
                    margin-top: 8px;

                    &:first-child {
                        margin-top: 0;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .article_subtext {
        font-size: .9em;
        margin-top: 1em;
    }

    .articles {
        overflow: hidden;
        margin-bottom: 30px;

        .row {
            [class*=col-] {
                margin-bottom: 30px;

            }
        }

        .title {
            margin-bottom: 30px;

            .navs {
                font-weight: normal;
                line-height: 1.6;
                font-size: 16px;

                span {
                    color: $color-gray;
                }

                a {
                    color: $color-black;

                    &.active {
                        border-bottom: 1px solid $color-black;
                    }
                }

                @include min_width(992) {
                    font-size: 18px;
                    display: inline-block;
                    float: right;
                }
            }
        }

        .articles-item {
            height: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: flex-end;
            width: 100%;
            background-position: center center;
            background-size: cover;
            position: relative;
            padding: 20px;
            border-radius: 6px;
            overflow: hidden;
            color: $color-white;
            transition: box-shadow .3s ease;

            &:before {
                background-image: linear-gradient(to bottom, rgba($color-black, 0), rgba($color-black, 0.64));
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
            }

            &:hover {
                box-shadow: 0 3px 6px 0 rgba($color-black, .3);
            }

            .in {
                position: relative;
                color: $color-white;
                display: inline-block;
                border: none;
                width: 100%;
            }

            .date {
                margin-top: 160px;
                font-size: 14px;
            }

            .title {
                font-size: 22px;
                font-weight: bold;
                margin-bottom: 10px;
            }

            .text {
                letter-spacing: -0.4px;
            }
        }

        .more {
            margin-top: 30px;

            .btn_link {
                background-color: $color-blue;
                border-color: transparent;
                color: $color-white;
            }
        }
    }

    .experts {
        margin-bottom: 30px;

        .title {
            margin-bottom: 30px;

            .navs {
                font-weight: normal;
                line-height: 1.6;
                font-size: 16px;

                span {
                    color: $color-gray;
                }

                a {
                    color: $color-black;

                    &.active {
                        border-bottom: 1px solid $color-black;
                    }
                }

                @include min_width(992) {
                    font-size: 18px;
                    display: inline-block;
                    float: right;
                }
            }
        }

        .list {
            padding: 20px;
            background-color: $color-white;
            border-radius: 6px;

            .expert {
                padding-bottom: 30px;
                margin-bottom: 30px;
                border-bottom: 1px solid rgba($color-black, 0.1);
                overflow: hidden;

                &:last-child {
                    border-bottom: 0;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }

                .ava {
                    float: left;

                    img {
                        border-radius: 6px;
                        width: 100%;
                        height: auto;
                    }
                }

                .about {
                    float: left;

                    .exp_name {
                        font-size: 22px;
                        font-weight: 600;
                        margin-top: 20px;
                        margin-bottom: 8px;
                        color: $color-black;

                        @include min_width(768) {
                            margin-top: 0;
                        }

                        @include min_width(1200) {
                            margin-top: 27px;
                        }
                    }

                    .more {
                        font-size: 18px;
                        font-weight: 400;
                        margin-bottom: 22px;
                    }

                    .text {
                        margin-bottom: 20px;
                    }

                    @include min_width(996) {
                        padding-left: 30px;
                    }
                }
            }
        }
    }

    .expert {

        article {
            margin-bottom: 60px;

            .title_block {
                margin-bottom: 30px;

                img {

                    width: 100%;
                    height: auto;
                }

                .title {
                    border: none;
                    padding: 0;
                    margin-bottom: 10px;
                }

                .sub_title {
                    margin-bottom: 22px;
                    font-weight: 500;
                    font-size: 18px;
                }

                .blockquote {
                    font-style: italic;
                    line-height: 1.31;
                    color: $color-gray-dim;
                }

            }

        }

        .list {
            margin-bottom: 60px;

            .h2 {
                text-transform: uppercase;
                margin-bottom: 30px;
            }

            .list-item {
                border-radius: 6px;
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
                background-color: #ffffff;
                padding: 20px 16px;
                margin: 5px;
                overflow: hidden;

                .img {
                    height: 168px;
                    background-position: center center;
                    background-size: cover;
                    margin: -20px -16px 0;
                    margin-bottom: 20px;
                }

                .date {
                    color: $color-blue;
                    font-size: 12px;
                    margin-bottom: 2px;
                }

                .title {
                    margin-bottom: 6px;
                    font-weight: 600;
                }

                .info {
                    font-weight: 400;
                }

                &.exp {

                    text-align: center;

                    .img {
                        height: 215px;
                    }

                    .title {
                        margin-bottom: 4px;
                    }

                    .date {
                        margin-bottom: 12px;
                        font-size: 14px;
                    }

                }

                @include min_width(768) {}
            }

            .owl-carousel {
                position: relative;

                .owl-prev,
                .owl-next {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 10;

                    img {
                        height: 25px;
                        width: auto;
                    }
                }

                .owl-prev {
                    left: -17px;
                }

                .owl-next {
                    right: -17px;
                }

                .owl-prev.disabled,
                .owl-next.disabled {
                    display: none;
                }

                @include min_width(768) {
                    .owl-prev {
                        left: -20px;
                    }

                    .owl-next {
                        right: -20px;
                    }
                }
            }
        }
    }

    .news {
        overflow: hidden;
        margin-bottom: 30px;

        .news_header {
            margin-bottom: 30px;
        }

        .title {
            padding-bottom: 16px;
            margin-bottom: 16px;
            font-family: Montserrat;
            text-transform: uppercase;
        }

        .news_item {
            background-position: center center;
            background-size: cover;
            position: relative;
            padding: 20px;
            border-radius: 6px;
            overflow: hidden;
            color: $color-white;
            transition: box-shadow .3s ease;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-end;
            margin-bottom: 20px;

            &:before {
                background-image: linear-gradient(to bottom, rgba($color-black, 0), rgba($color-black, 0.64));
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
            }

            &:hover {
                box-shadow: 0 3px 6px 0 rgba($color-black, .3);
            }

            .in {
                position: relative;
                color: $color-white;
                display: inline-block;
                border: none;

            }

            .date {
                margin-top: 160px;
                font-size: 14px;
            }

            .title {
                font-size: 22px;
                font-weight: bold;
                margin-bottom: 10px;
                padding: 0;
            }

            .text {
                letter-spacing: -0.4px;
            }
        }

        .news_last {
            height: 100%;
            padding: 20px;
            background-color: $color-white;
            border-radius: 6px;
            margin-top: 20px;

            .sub_title {
                font-size: 18px;

            }

            .news_last-item {
                border-top: 1px solid rgba($color-black, .1);
                margin-right: -20px;
                margin-left: -20px;
                margin-top: 15px;
                padding: 15px 20px 0 20px;

                .date {
                    font-size: 14px;
                    color: $color-blue;
                    margin-bottom: 4px;
                }

                .sub_title {
                    font-size: 18px;
                    font-weight: 600;
                    color: $color-black;
                    border-bottom: 1px solid rgba($color-black, 0);
                    transition: border-color .3s ease;

                    a {
                        border-bottom: 1px solid rgba($color-black, 0);
                        color: $color-black;

                        &:hover {
                            border-color: rgba($color-black, .4);
                        }
                    }
                }

                .text {
                    margin-top: 10px;
                    letter-spacing: -0.4px;
                }

            }

            &.all {

                .news_last-item {
                    border-top: none;
                    border-bottom: 1px solid rgba($color-black, .1);
                    margin-right: -0;
                    margin-left: -0;
                    margin-top: 0;
                    padding: 0;
                    padding-bottom: 15px;
                    margin-bottom: 15px;

                    &:last-child {
                        padding-bottom: 0;
                        border-bottom: none;
                    }
                }
            }

            @include min_width(992) {
                margin-top: 0;
            }
        }

        .more {
            margin-top: 30px;

            .btn_link {
                background-color: $color-blue;
                border-color: transparent;
                color: $color-white;
            }
        }
    }

    .themes {
        .title {
            font-size: 20px;
            line-height: 34px;
            text-transform: uppercase;
            font-weight: 700;
            overflow: hidden;

            .text {
                display: inline-block;
                margin-right: 10px;
            }

            .btn_link {
                margin-top: .5em;
                font-size: 16px;
                padding: 0 16px;
                line-height: 32px;
                display: inline-block;

                @include min_width(510) {
                    margin-top: 0;
                    float: right;
                }

                @include min_width(992) {
                    padding: 0 23px;

                }
            }
        }

        .theme__list {

            .theme__list-item {
                border-radius: 6px;
                background-color: $color-white;
                margin-top: 20px;
                overflow: hidden;
                transition: all .3s ease;
                padding: 25px;

                .theme__list-image {
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;
                    height: 150px;
                    margin-top: -30px;
                    margin-left: -25px;
                    margin-right: -25px;
                    margin-bottom: 20px;
                }

                .theme__list-title,
                .theme__list-subtitle {
                    font-size: 20px;
                    font-weight: 600;
                    position: relative;
                    cursor: pointer;
                    display: block;
                    padding-right: 25px;

                    &:after {
                        content: "\f054";
                        opacity: .5;
                        width: 22px;
                        height: 22px;
                        font-family: $font-awesome;
                        display: block;
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        transition: all .3s ease;
                        text-align: center;
                    }

                    .hide_more {
                        position: relative;
                        cursor: pointer;
                        position: absolute;
                        transform: translateY(-50%);
                        top: 50%;
                        right: 0;
                        z-index: 10;

                        &:after {
                            content: "\f054";
                            width: 22px;
                            height: 22px;
                            font-family: $font-awesome;
                            display: block;
                            text-align: center;
                        }
                    }
                }

                .theme__list-about {
                    display: none;

                    .theme__list-subtitle {
                        a {
                            border-bottom: 1px solid transparent;

                            &:hover {
                                border-bottom: 1px solid $color-blue;
                            }
                        }
                    }

                    .theme__list-tags {
                        margin-top: 12px;
                        margin-bottom: -15px;

                        a {
                            padding: 0 10px;
                            font-size: 16px;
                            line-height: 30px;
                            margin-right: 15px;
                            margin-bottom: 15px;
                            transform: initial;
                        }
                    }
                }

                &:hover {
                    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);

                    .theme__list-title {

                        &:after {
                            opacity: 1;
                            color: $color-blue;
                            transform: translateY(-50%) rotate(90deg);
                        }
                    }
                }

                &.active {
                    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
                    padding: 25px;

                    >.theme__list-title {
                        display: none;
                    }

                    >.theme__list-image {
                        display: none;
                    }

                    .theme__list-about {
                        display: block;

                        .theme__list-subtitle {
                            margin-bottom: 15px;
                            cursor: inherit;

                            &:after {
                                display: none;
                            }

                            .hide_more {
                                opacity: 1;
                                color: $color-blue;
                                transform: translateY(-50%) rotate(270deg);
                            }
                        }
                    }

                }
            }


        }

        .more {
            margin-top: 20px;
            display: flex;
            justify-content: space-evenly;

            .btn_link {
                width: auto;
            }
        }

        .theme__offer {
            margin-top: 50px;
            margin-bottom: 30px;

            @include min_width(768) {
                margin-bottom: 0;

            }
        }

        .theme {

            .theme__title-wrap {
                background-image: linear-gradient(to bottom, rgba(30, 30, 30, 0), rgba(30, 30, 30, 0.64));
                margin: -20px -30px;
                padding: 20px 30px;
            }

            .theme__title {
                border-radius: 6px;
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.64));
                background-size: cover;
                background-position: center center;
                padding: 20px 30px;
                overflow: hidden;
                color: $color-white;

                .theme__title-title {
                    font-size: 22px;
                    font-weight: bold;
                    margin-top: 180px;
                    margin-bottom: 12px;
                }


                .theme-tags {
                    margin-bottom: -15px;
                    margin-top: 40px;

                    a {
                        margin-right: 15px;
                        margin-bottom: 15px;
                        line-height: 30px;
                        padding: 0 10px;
                    }
                }
            }

            .theme__about {
                border-radius: 6px;
                background-color: #ffffff;
                padding: 20px;
                margin-top: 20px;

                .theme__about-rating {
                    border-bottom: 1px solid rgba(0, 0, 0, .1);
                    color: $color-blue;
                    overflow: hidden;
                    letter-spacing: -0.4px;
                    font-weight: 400;
                    margin-bottom: 20px;
                    font-size: 14px;

                    .theme__about-exp,
                    .theme__about-usr {
                        margin-bottom: 20px;

                        i {
                            margin-right: 5px;
                        }

                        strong {
                            font-weight: 600;
                            margin-left: 10px;
                        }
                    }
                }
            }

            .theme__more {
                margin-top: 20px;

                .all,
                .next {
                    margin-bottom: 20px;
                }

                .all {
                    margin-right: 20px;
                    float: left;
                }

                .next {
                    float: right;
                }
            }
        }

        @include min_width(768) {
            .title {

                .btn_link {
                    margin: 0;
                    float: right;
                }
            }

            .theme__about {
                .theme__about-rating {
                    font-size: 16px;

                    .theme__about-exp {
                        float: left;
                    }

                    .theme__about-usr {
                        float: right;
                    }
                }
            }
        }

        @include min_width(992) {

            .theme__list {

                .theme__list-item {
                    display: flex;
                    flex-wrap: wrap;
                    flex-flow: row;

                    .theme__list-image {
                        width: 150px;
                        margin-bottom: -30px;
                        margin-right: 25px;
                        height: auto;
                    }

                    .theme__list-title {
                        flex: 1;
                    }
                }
            }

            .title {
                font-size: 24px;
                line-height: 44px;

                .btn_link {
                    line-height: 40px;
                }
            }
        }
    }

    .polls,
    .tests {
        .title {
            margin-bottom: 30px;
            font-size: 24px;
            font-weight: 600;
            text-transform: uppercase;

            .navs {
                font-weight: normal;
                line-height: 1.6;
                font-size: 16px;

                span {
                    color: $color-gray;
                }

                a {
                    color: $color-black;

                    &.active {
                        border-bottom: 1px solid $color-black;
                    }
                }

                @include min_width(992) {
                    font-size: 18px;
                    display: inline-block;
                    float: right;
                }
            }
        }
    }

    .polls {

        [class*=col-] {
            margin-bottom: 30px;
        }

        .poll_item {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            padding: 20px;
            border-radius: 6px;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.64));
            color: $color-white;
            position: relative;

            .poll_item-title_wrap {
                background-image: linear-gradient(to bottom, rgba(30, 30, 30, 0), rgba(30, 30, 30, 0.64));
                margin: -20px;
                padding: 20px;
            }

            .poll_item-members {
                border-radius: 0 0 4px 4px;
                box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
                display: inline-block;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                padding: 3px 0;
                width: 140px;
                font-family: $font-azoft;
                color: $color-white;
                font-weight: bold;
                font-size: 14px;
                text-align: center;
            }

            .poll_item-date {
                font-size: 14px;
                margin-top: 130px;
            }

            .poll_item-title {
                font-size: 22px;
                font-weight: bold;

                a {
                    color: $color-white;
                }
            }

            .poll_item-about {
                margin-top: 15px;
                font-family: $font-opensans;
                font-size: 16px;
                font-weight: normal;
            }

            @include min_width(576) {
                height: 100%;
            }
        }

        .more {
            margin-top: 20px;
        }
    }

    .tests {

        [class*=col-] {
            margin-bottom: 30px;
        }

        .test_item {
            border-radius: 6px;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
            background-color: #ffffff;
            position: relative;
            overflow: hidden;

            .test_item-image {
                height: 168px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
            }

            .test_item-members {
                border-radius: 0 0 4px 4px;
                box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
                display: inline-block;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                padding: 3px 0;
                font-family: $font-azoft;
                font-weight: bold;
                color: $color-white;
                font-size: 14px;
                width: 140px;
                text-align: center;
            }

            .test_item-about {
                padding: 16px 20px;

                .test_item-date {
                    font-size: 12px;
                    color: $color-blue;
                }

                .test_item-title {
                    font-size: 16px;
                    font-weight: 600;
                    margin-bottom: 5px;

                    a {
                        color: $color-black;
                    }
                }

                .test_item-text {
                    font-family: $font-opensans;
                    font-size: 14px;
                    font-weight: normal;
                }

            }

            @include min_width(576) {
                height: 100%;
            }
        }

        .more {
            margin-top: 20px;
        }
    }

    .test {
        padding: 20px;
        border-radius: 6px;
        background-color: #ffffff;
        margin-bottom: 60px;

        .title {
            font-size: 24px;
            font-weight: 600;
        }

        .test-about {
            margin-bottom: 40px;
        }

        .test-title {
            font-size: 20px;
            font-weight: bold;
            padding: 20px;
            position: relative;
            margin-bottom: 40px;
            text-align: left;

            &:after,
            &:before {
                position: absolute;
                content: '';
                display: block;
                left: 0;
                height: 1px;
                background-color: $color-blue;
                width: 100%;
            }

            &:before {
                top: 0;
            }

            &:after {
                bottom: 0;
            }

            @include min_width(768) {
                font-size: 30px;
                padding: 40px;
                text-align: center;

                &:after,
                &:before {
                    left: 50%;
                    transform: translateX(-50%);
                    max-width: 400px;
                }
            }
        }

        .test-image {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            border-radius: 6px;
            overflow: hidden;
            margin-bottom: 40px;

            .test-title {
                color: $color-white;
                padding: 60px 20px;
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.64));
                margin-bottom: 0;

                &:before,
                &:after {
                    display: none;
                }

                @include min_width(768) {
                    padding: 120px 40px;
                }
            }
        }

        .test__questions {

            &.poll {
                .test__questions-item {
                    label {
                        background-clip: text;
                        color: transparent;
                        padding-right: 190px;

                        .voted {
                            position: absolute;
                            right: 60px;
                            top: 50%;
                            transform: translateY(-50%);
                            font-size: 12px;
                            background-color: white;
                            color: #0087FF;
                            padding: 0 7px;
                            line-height: 1.6;
                            border-radius: 6px;
                            border: 1px solid #0087ff;
                            width: 130px;
                            text-align: center;
                            display: none;
                        }

                        &:hover,
                        &.active {
                            color: transparent;
                        }
                    }
                }

                &.answered {
                    .test__questions-item {
                        label {
                            .voted {
                                display: block;
                            }
                        }
                    }
                }
            }

            .test__questions-item {
                margin-bottom: 20px;
                border-radius: 4px;

                label {
                    display: block;
                    border-radius: 4px;
                    border: solid 2px #e0e0e0;
                    font-size: 16px;
                    padding: 15px 16px;
                    padding-right: 45px;
                    overflow: hidden;
                    cursor: pointer;
                    transition: all .2s ease;

                    .cr {
                        background: none;
                        left: unset;
                        right: 13px;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 32px;
                        height: 32px;

                        .cr-icon {
                            width: 28px;
                            height: 28px;
                            border-radius: 50%;
                            background-color: $color-white;
                            border: 2px solid $color-blue;
                            color: $color-blue;
                            padding: 4px;
                        }
                    }

                    input[type="checkbox"]+.cr>.cr-icon,
                    input[type="radio"]+.cr>.cr-icon {
                        transform: scale(1);
                    }

                    input[type="checkbox"]:checked+.cr>.cr-icon,
                    input[type="radio"]:checked+.cr>.cr-icon {
                        opacity: 1;
                    }

                    &:hover,
                    &.active {
                        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
                        border-color: $color-blue;
                        background-color: $color-blue;
                        color: $color-white;
                    }

                    &.true {
                        color: $color-white;
                        border-color: $color-lime;
                        background-color: $color-lime;

                        .cr {

                            .cr-icon {
                                border-color: $color-lime;
                                color: $color-lime;
                            }
                        }
                    }

                    &.false {
                        color: $color-white;
                        border-color: $color-orange;
                        background-color: $color-orange;

                        .cr {
                            text-align: center;

                            .cr-icon {
                                border-color: $color-orange;
                                color: $color-orange;

                                &:before {
                                    content: "\f00d";
                                    width: 12px;
                                    display: inline-block;
                                    position: relative;
                                    left: -.5px;
                                }
                            }
                        }
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .test__questions-action {
                margin-top: 40px;
                display: flex;
                flex-flow: column;
                justify-content: space-between;

                @include min_width(576) {
                    flex-flow: row;
                }

                .btn_link {
                    color: $color-white;
                    border: none;
                    margin-bottom: 16px;
                    text-align: center;

                    &:hover {
                        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
                    }

                    @include min_width(768) {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    #voting_embed {
        overflow: hidden;
    }

    .voiting_exp {

        p {
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .__sticky {
            &.__sticky-fixed {
                padding-top: 4px;
                padding-bottom: 4px;

                .text {
                    display: none;
                }

                .__progress {
                    .__action {
                        .btn_link {
                            padding: 4px 6px;

                            &:last-child {
                                margin-bottom: 0;
                            }

                            @include min_width(768) {
                                line-height: 1;
                                padding: 4px 8px;
                            }
                        }
                    }

                    .__progress_bar {
                        line-height: 20px;

                        span {
                            line-height: 24px;
                        }
                    }
                }
            }
        }

        h1,
        .h1 {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 20px;
        }

        h2,
        .h2 {
            font-size: 20px;
            margin-bottom: 10px;
            position: relative;

            .get-info {
                display: inline-block;
                margin-left: 6px;
                font-size: .8em;
                color: $color-gray;
                transition: all .3s ease;
                padding: 5px;
                cursor: pointer;
            }

            &:hover {
                .get-info {
                    color: $color-blue-dim;
                }
            }

            .more-info {
                display: none;
                padding: 5px 8px;
                border-radius: 4px;
                background-color: #ffffff;
                border: 1px solid rgba(0, 0, 0, .4);
                box-shadow: 0 5px 11px -11px rgba(0, 0, 0, 1);
                z-index: 10;
                color: $color-black;

                &.show {
                    display: block;
                }

                @include min_width(992) {
                    position: absolute;
                    left: 5%;
                }
            }
        }

        h3,
        .h3 {
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 1em;
        }

        .__wrap {
            padding: 0 15px;
            border-radius: 6px;
            background-color: #ffffff;
            margin-bottom: 60px;
        }

        [class*=col-] {
            border-bottom: 1px solid rgba($color-gray-light, .5);
            padding-top: 20px;
            padding-bottom: 20px;

            &:nth-child(2n+2) {
                border-right: none;
            }
        }

        .__voit_items {
            border-right: none;

            [class*=col-] {
                border-right: 1px solid rgba($color-gray-light, .5);

                &:nth-child(2n+2) {
                    border-right: none;
                }
            }

            p {
                font-family: $font-opensans;
                font-size: 14px;
                font-weight: 400;

                @include min_width(768) {
                    font-size: 15px;
                }
            }
        }

        .__voit_item {
            .ranger {
                background-color: rgba($color-blue-dim, .1);
                border-radius: 4px;
                height: 40px;
                position: relative;
                padding: 0 30px;
                margin-top: 15px;

                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    height: 50%;
                    transform: translateY(-50%);
                    background-color: lightgray;
                    width: 3px;
                    border-radius: 4px;
                }

                &:before {
                    left: 30px;
                    background-color: $color-blue-dim;
                }

                &:after {
                    right: 30px;
                }

                .from,
                .to,
                .mid {
                    position: absolute;
                    top: 0;
                    line-height: 40px;
                    width: 30px;
                    text-align: center;
                }

                .from {
                    left: 0;
                }

                .to {
                    right: 0;
                }

                .mid {
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    height: 40%;
                    width: 3px;
                    border-radius: 4px;
                    background-color: lightgray;
                }

                .irs--round {
                    height: 40px;
                    background-color: transparent;
                    border-radius: 0;

                    .irs {
                        height: 100%;
                    }

                    .irs-bar {
                        top: 50%;
                        transform: translateY(-50%);
                        background-color: $color-blue-dim;
                    }

                    .irs-line {
                        top: 50%;
                        transform: translateY(-50%);
                        background-color: lightgray;

                    }

                    .irs-handle {
                        top: 50%;
                        transform: translateY(-50%);
                        width: 30px;
                        height: 30px;
                        border: none;
                        background-color: transparent;
                        border-radius: 24px;
                        box-shadow: none;
                        background-color: #3962fc;
                    }

                    .irs-single {
                        line-height: 18px;
                        background-color: $color-blue-dim;
                        padding: 3px 4px 8px;
                        transform: translateY(-50%);

                        &:before {
                            display: none;
                        }

                    }
                }
            }
        }

        .__voit_actions {
            margin-top: -1px;
            border-top: 1px solid rgba($color-gray-light, .5);
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .__progress {
            .__progress_bar {
                padding: 0 10px;
                line-height: 25px;
                border-radius: 22px;
                position: relative;
                background-color: rgba(198, 198, 198, .5);

                .__bar {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    background-color: $color-blue-dim;
                    border-radius: 22px;
                    min-width: 24px;
                }

                span {
                    position: relative;
                    background-clip: text;
                    color: transparent;
                    font-weight: 400;
                    text-align: center;
                    display: block;
                }
            }

            .__action {
                width: auto;
                overflow: hidden;

                .btn_link {
                    width: calc(50% - 5px);
                    margin-top: 8px;
                    margin-right: 8px;
                    padding: 4px 6px;
                    font-size: 1em;
                    float: left;
                    line-height: 1.2;

                    &:nth-child(2n+2) {
                        margin-right: 0;
                    }
                }
            }

            @include min_width(768) {
                .__action {

                    .btn_link {
                        width: auto;
                        margin-right: 10px;

                        &:nth-child(2n+2) {
                            margin-right: 10px;
                        }

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }

            @include min_width(1200) {
                display: flex;
                flex-wrap: wrap;
                flex-flow: row;

                .__progress_bar {
                    flex: 1;

                    .__bar {
                        margin-bottom: 0;
                    }
                }

                .__action {
                    margin-left: 15px;

                    .btn_link {
                        margin-top: 0;
                    }
                }
            }
        }

        .voiting--text,
        .voiting--anketa,
        .voiting--instruction {
            font-family: $font-opensans;
            font-weight: 400;
        }

        .voiting--anketa,
        .voiting--instruction,
        .voiting--voit_exp {
            display: none;
        }

        .voiting--anketa {
            form {
                max-width: 768px;
            }
        }
    }

    .poll_test_results {
        text-align: center;
        padding-top: 50px;
        padding-bottom: 60px;
        font-family: $font-face;

        .title {
            font-size: 24px;
            font-weight: 600;
            padding: 0;
            border: 0;
            text-transform: initial;
        }

        .image {
            margin: 53px 0;
            text-align: center;
            overflow: hidden;

            img {
                display: inline-block;
                margin: auto;
                min-height: 80px;
                height: auto;
                max-height: 300px;
                min-width: 80px;
                width: auto;
                max-width: 70%;
                float: none;
            }
        }

        .text {
            max-width: 400px;
            margin: auto;
            margin-top: 30px;
        }

        .sub_title {
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 20px;
        }

        .h3 {
            font-size: 12px;
            font-weight: bold;
            margin-top: 38px;
            margin-bottom: 17px;
        }

        .share {
            width: 100%;
            max-width: 400px;
            margin: auto;

        }

        .result_action {
            margin-top: 40px;

            .btn_link {
                color: white;
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }

                @include min_width(768) {
                    margin-bottom: 0;
                    margin-right: 15px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    .minimaks {

        .minimaks-list {
            color: $color-white;

            .block__slider {

                .owl-nav {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 100%;
                    overflow: hidden;
                    padding: 0 6px;
                    font-size: 1.5em;

                    .owl-prev {
                        float: left;
                    }

                    .owl-next {
                        float: right;
                    }
                }
            }

            .__list-item {
                padding: 20px;
                border-radius: 6px;
                display: flex;
                flex-wrap: wrap;
                align-items: flex-end;
                height: 444px;
                position: relative;
                overflow: hidden;

                &:before {
                    background-image: linear-gradient(to bottom, rgba(30, 30, 30, 0), rgba(30, 30, 30, 0.64));
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                }

                .__item-wrap {
                    position: relative;
                    z-index: 10;
                }

                .__item-title {
                    margin-bottom: 20px;

                    .sub_title {
                        margin: 0;
                    }
                }

                .__item-desc {
                    margin-bottom: 20px;
                }

                .__item-action {

                    .btn_link {

                        background-color: $color-blue;

                        &:hover {
                            text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
                            background-color: #00caff;
                            border-color: transparent;
                            color: $color-white;
                            box-shadow: 0 1px 5px 0px rgba(255, 255, 255, .5);
                        }
                    }
                }
            }

        }
    }

    .kabinet_exp {

        .title {}

        .subtitle {
            margin-bottom: 1em;

            &:last-child {
                margin-bottom: 0;
            }

            span {
                color: $color-gray;
                font-weight: 400;
                font-size: .8em;
            }
        }
    }

    .tolmach {}

    .tolmach_exp_articles {
        margin-top: 15px;
    }

    .tolmach_exp_art_list {
        margin-top: 15px;
        display: none;
    }

    .comp_requests {
        margin-top: 30px;

        .comp_requests_table {
            margin-top: 30px;
            width: 100%;
        }

        .comp_request_header {

            >* {
                padding-top: 0;
                padding-bottom: 15px;
                padding-right: 10px;
                text-align: left;
            }
        }

        .comp_request_item {

            >* {
                padding-top: 0;
                padding-bottom: 15px;
                padding-right: 10px;
                vertical-align: middle;
                text-align: left;
            }

            &-wiki_link {
                width: 180px;
            }

            &-num {
                width: 100px;
            }
        }

        @include min_width(992) {}
    }

    .tolmach_best {
        margin-top: 16px;
    }

    .tolmach_best_item {
        margin-bottom: 16px;
        cursor: pointer;
        transition: all .3s ease;
        padding-bottom: 16px;
        border-bottom: 1px solid rgba(black, .1);

        &:last-child {
            margin-bottom: 0;
        }

        &:hover,
        &--active {
            border-bottom: 1px solid rgba(black, .4);
        }

        &--empty {
            color: gray;
            cursor: initial;

            &:hover {
                box-shadow: none;
            }

            .tolmach_best_item-title {
                font-weight: 500;
            }
        }

        &-title {
            font-weight: 600;
            font-size: 1.1em;
            display: inline-block;
            transition: all .3s ease;

            &--sub {
                font-weight: 400;
                display: inline-block;
                font-size: .9em;
                margin-left: 6px;
            }

            .checkbox {
                display: inline-block;
                margin-left: -28px;
                margin-right: 10px;

                label {
                    padding: 0;
                    width: 16px;
                    height: 16px;
                    margin-bottom: -2px;
                    cursor: pointer;

                    input[type="checkbox"]+.cr {
                        border: 1px solid black;
                        background: transparent;

                        .cr-icon {
                            color: black;
                            top: -8px;
                            left: -3px;
                            font-size: 2em;
                            transform: scale(1.5) rotateZ(-20deg);
                        }
                    }

                    input[type="checkbox"]:checked+.cr {
                        .cr-icon {
                            transform: scale(1);
                        }
                    }
                }
            }
        }

        &-about {
            font-weight: 500;
            margin-left: 26px;
            font-size: .9em;
        }

        &-num {
            font-size: .9em;
            margin-right: .5em;

            &:after {
                content: '.';
            }
        }

        &--golos {

            .tolmach_best_item-title {
                margin-left: 28px;
            }

        }
    }

    .tolmach_best_works {
        display: none;
        margin-top: 15px;
    }

    .tolmach_best_work {
        margin-bottom: 15px;
        display: flex;

        &-num {
            width: 30px;
        }

        &-title {
            flex: 1;
        }

        &-about {
            flex: 2;
        }
    }
}

.voiting {
    border-radius: 6px;
    background-color: #ffffff;
    margin-bottom: 0;
    max-width: 768px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 400;

    .title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .btn_link {
        color: $color-gray;
        line-height: 1.4;
        padding: 6px 12px;
    }

    .voiting-about {
        color: $color-white;

        img {
            max-width: 372px;
            width: 100%;
        }

        .___about-title {
            text-transform: uppercase;
            font-weight: 500;
            font-size: 29px;
            line-height: 1;

            .__image {
                padding: 20px 30px 10px;
            }

            .__title {
                padding: 20px 30px 10px;
                background-color: $color-gray;
            }

            p {
                line-height: 1;
            }
        }

        .___about-desc {
            padding: 10px 30px;

            p {
                margin-bottom: 10px;
            }
        }

        .___about-action {
            padding: 20px 30px;
            padding-top: 0;
            text-align: center;

            .btn_link {
                color: $color-gray;
            }
        }
    }

    .voiting-questions {
        padding: 20px;
        color: $color-white;
        overflow: hidden;
        display: none;
    }

    .__questions-action {
        margin-top: 40px;
        display: flex;
        flex-flow: column;
        justify-content: space-between;

        @include min_width(576) {
            flex-flow: row;
        }

        .btn_link {
            color: $color-white;
            border: none;
            margin-bottom: 16px;
            text-align: center;

            &:hover {
                box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
            }

            @include min_width(768) {
                margin-bottom: 0;
            }
        }
    }

    .__questions {
        width: 100%;
        margin-top: 0;

    }

    .__questions-item {
        margin-bottom: 10px;
        position: relative;
        border: none;
        background-color: $color-white;
        color: $color-black;
        border-radius: 4px;

        label {
            cursor: pointer;
            display: block;
            padding: 5px 10px;
            margin-right: 45px;
            font-size: 14px;
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            line-height: 24px;
        }

        .cr {
            background: none;
            font-size: 24px;
            font-weight: bold;
            left: unset;
            right: 0;
            top: 0;
            height: 100%;
            width: 45px;
            display: flex;
            flex-flow: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-radius: 0 4px 4px 0;
            background-color: $color-red;
            color: #FF836F;

            .cr-icon {
                color: $color-white;
                transition: all .1s ease-in;
                position: relative;
                top: unset;
                left: unset;
                font-family: 'sugarpie';
            }
        }

        .more-info {
            display: none;
            padding: 5px 8px;
            border-radius: 4px;
            background-color: #ffffff;
            border: 1px solid #e0e0e0;
            box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 1);
            z-index: 10;
            color: $color-black;
            position: absolute;
            right: 0%;
            font-family: $font-face;
            font-size: 14px;
            font-weight: 400;
            bottom: 130%;
            width: 95%;

            &:before,
            &:after {
                content: '';
                border: 10px solid transparent;
                height: 0;
                width: 0;
                right: 12px;
                position: absolute;
                bottom: -20px;
            }

            &:before {
                border-top-color: #e0e0e0;
                z-index: 1;
            }

            &:after {
                border-top-color: $color-white;
                bottom: -18px;
                z-index: 2;
            }

            &.show {
                display: block;
            }
        }

        &:nth-child(2),
        &:nth-child(3) {
            .more-info {
                top: 130%;
                bottom: unset;

                &:before,
                &:after {
                    border: 10px solid transparent;
                    height: 0;
                    width: 0;
                    position: absolute;
                    bottom: unset;
                    border-top: none;
                    top: -10px;
                }

                &:before {
                    border-bottom-color: #e0e0e0;
                }

                &:after {
                    border-bottom-color: $color-white;
                }
            }
        }


        &.hover,
        &.active {
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
            color: $color-white;

            &:before {
                opacity: 1;
            }

            .cr {
                .cr-icon {
                    color: $color-white;
                }
            }

            .color {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 1;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

        .color {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            transition: all .1s ease;
            border-radius: 4px;
            background-color: $color-blue;
        }
    }

    .__voiting_head {
        overflow: hidden;
        margin-bottom: 30px;
        position: relative;

        .__head-title {
            float: left;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: .5em;
            width: 65%;
        }

        .__head-about {
            float: left;
            font-size: 18px;
            font-weight: 400;
            margin-bottom: .5em;
            width: 55%;
            font-size: 16px;

            i {
                font-family: 'sugarpie';
                font-size: 20px;
                font-weight: bold;
                position: relative;
                top: 1px;
                margin: 0 2px;
            }
        }

        .__actions {
            float: left;
            width: 100%;
            padding-top: 20px;
        }

        .__head {
            height: 131%;
            width: 230px;
            top: 3px;
            right: -44px;
            position: absolute;

            .bg0,
            .bg,
            .bgLoading {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                left: 0;
                display: block;
                text-align: center;
            }

            .bg,
            .bgLoading {
                display: none;
            }

            .bgLoading {
                z-index: 1;
            }

            img {
                width: auto;
                height: auto;
                max-height: 100%;
                max-width: 100%;
            }
        }
    }

    .voiting-result {
        padding: 20px;
        color: $color-white;
        overflow: hidden;
        display: none;

    }

    .__result_title {
        font-weight: 400;
        margin-bottom: 10px;

        strong {
            font-size: 30px;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 10px;
            text-align: center;
            display: block;
        }
    }

    .__result_action {
        margin-bottom: 20px;
        text-align: center;

        p {
            margin-bottom: 10px;
            text-align: left;
        }

        .btn_link {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .__result_table-wrap {
        margin-bottom: 10px;
        min-height: 180px;
        background-color: $color-white;
        position: relative;
    }

    .__result_table-wrap_line {
        content: "\f078";
        font-family: $font-awesome;
        position: absolute;
        bottom: 0;
        color: orange;
        width: 100%;
        font-size: 40px;
        text-align: center;
        height: 40px;
        z-index: 1;
        background-image: linear-gradient(0deg, white 50%, rgba(255, 255, 255, 0) 100%);
        display: none;
    }

    .__result_table {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        overflow-y: scroll;

        @include min_width(576) {
            .__result_table {
                background-color: $color-white;
                max-height: unset;
            }
        }

        table {
            width: 100%;
            color: $color-black;
            border-collapse: collapse;
            background-color: $color-white;

            thead {
                color: $color-white;
                background-color: $color-blue;
            }

            th,
            td {
                padding: 6px 12px;

                &:first-child {
                    border-right: 1px solid $color-gray;
                    max-width: 100px;
                }
            }

            td {
                border-bottom: 1px solid $color-gray;
            }

            td:first-child {
                text-align: right;
            }
        }
    }

    .__result_share {
        text-align: center;

        p {
            margin-bottom: 10px;
        }

    }

    .__result_embedd {
        margin-top: 1em;

        button {
            margin-top: 4px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        code {
            display: none;
            margin-top: 6px;
            border: 1px solid lightgray;
            background-color: white;
            padding: 6px;
            color: black;
            text-align: left;
            border-radius: 6px;
        }
    }

    @include min_width(340) {
        .__voiting_head {
            .__head {
                top: -26px;
            }

            .__head-title {
                width: 60%;
            }

            .__head-about {
                width: 55%;
            }
        }
    }

    @include min_width(576) {
        .__q_wrap {
            display: flex;
            flex-wrap: wrap;
        }

        .voiting-about {

            .___about-title {

                display: flex;

                .__title,
                .__image {
                    background-color: $color-blue;
                    padding: 20px 30px 10px;
                    float: left;
                    width: 50%;
                }

                .__image {
                    padding-right: 0;

                    img {
                        max-width: 296px;
                    }
                }

                .__title {
                    padding-left: 10px;
                }


                p {
                    padding-top: 8px;
                }
            }

            .___about-desc {
                padding-top: 20px;
                padding-right: 40px;
            }

            .___about-action {
                padding-bottom: 20px;
            }

        }

        .voiting-questions {
            padding: 30px;
        }

        .__questions {
            flex: 1;
            order: 1;
            padding-right: 30px;

            .__questions-item {

                label {
                    font-size: 16px;
                }
            }
        }

        .__voiting_head {
            width: 250px;
            order: 2;
            margin-bottom: 0;

            .__head-title {
                width: 100%;
            }

            .__head-about {
                width: 50%;
                margin-top: 20px;
            }

            .__head {
                width: 196px;
                top: 30px;
                right: -7px;
            }

            .__actions {
                text-align: center;
            }
        }

        .__result_table-wrap {
            float: left;
            width: 50%;
            margin-bottom: 0;
        }

        .__result_table-wrap_line {
            display: none;
        }

        .__result_about {
            float: right;
            width: 50%;
            padding-left: 15px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-around;
            height: 400px;
        }

        .voiting-result {
            overflow: hidden;
            padding: 30px;

            .__result_wrap {
                display: flex;
            }

            strong {
                font-weight: 800;
            }

            .__result_title {

                strong {
                    font-size: 18px;
                    display: inline;
                    text-align: left;
                }
            }

            .__result_embedd {
                text-align: center;

                button {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }

            }
        }

    }
}