body.quize {
    #addQuize {
        .modal-body {
            counter-reset: qNumber;

            .form-group.QQ {
                counter-increment: qNumber;

                .card-header {
                    position: relative;

                    &:before {
                        content: counter(qNumber);
                        position: absolute;
                        top: 14px;
                        left: 6px;
                        opacity: .5;
                    }
                }
            }
        }
    }
}